<section class="content">
    <div class="content-block">
      <div class="block-header" style="margin-top: 48px;">
        <!-- breadcrumb -->
        <!-- <app-breadcrumb [title]="'Dashboad'" [items]="['Home']" [active_item]="'Dashboad'"></app-breadcrumb> -->
         <!-- <app-breadcrumb></app-breadcrumb>  -->
      </div>
      <div class="row ">
        <div class="col-xl-12 ">
          <div class="card" style="background: #ebebeb55;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
          -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);">
             
  
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 " style="margin-top: 30px">
                  <h1>Origin</h1>  
                  <div class="row">
                    <div class=" col-md-3" style="margin-top: 30px">
                      <mat-checkbox  ngInit="checked=true">Pickup</mat-checkbox>
                    </div>
                    <div  class="col-md-3" style="margin-top: 30px">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <input matInput placeholder="zipcode">
                        </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3" style="margin-top: -15px" >
                      <mat-checkbox  ngInit="checked=true">Stuffing</mat-checkbox>
                    </div>
                    <div class="col-md-6" style="margin-top: -15px" >
                    <mat-radio-group >
                        <mat-radio-button   value="1">Option 01</mat-radio-button>
                        <mat-radio-button  value="2">Option 02</mat-radio-button>
                      </mat-radio-group></div>
                  </div>
                  <div class="row">
                    <div class="col-md-6" style="margin-top: 30px" >
                      <mat-checkbox  ngInit="checked=true">Custom clearance</mat-checkbox>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6" style="margin-top: 30px" >
                      <mat-checkbox  ngInit="checked=true">Liner charges</mat-checkbox>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6" style="margin-top: 30px">
                      <mat-checkbox  ngInit="checked=true">Others</mat-checkbox>
                    </div>
                  </div>
                  









                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 " style="margin-top: 30px">
                    <h1>Destination</h1>
                    <div class="row">
                      <div class=" col-md-3" style="margin-top: 30px">
                        <mat-checkbox  ngInit="checked=true">Custom clearance</mat-checkbox>
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-md-3" style="margin-top: 30px">
                        <mat-checkbox  ngInit="checked=true">Liner charges</mat-checkbox>
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-md-3" style="margin-top: 30px" >
                        <mat-checkbox  ngInit="checked=true">Door delivery</mat-checkbox>
                      </div>
                      <div  class="col-md-3" style="margin-top: 30px">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          
                          <input matInput placeholder="zipcode">
                          </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6" style="margin-top: -15px" >
                        <mat-checkbox  ngInit="checked=true">Others</mat-checkbox>
                      </div>
                    </div>
                    
                  
                  
                  </div>
                </div>
              </div>
            
            
              <div class="row">
             
                <div class="col-md-1" style="padding-left: 2%;padding-bottom: 1%;margin-top: 35px;">
                  <button mat-mini-fab color="primary" (click)="back()">
                    <mat-icon class="col-white">arrow_back_ios</mat-icon>
                  </button>
                </div> 
                <div class="row" > 
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button   class="btn-space" mat-raised-button
                    color="primary" style="float: right;" (click)="incoterms()">Next</button>
                    
                     </div>
                </div>
                </div>  
          </div>
          
        </div>
        
      </div>
      
    </div>
  </section>