<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div class="auth-container">
  <div class="row auth-main">
    <div class="container-login100" style="background-image: url(assets/images/banner/bg-img.jpg);">
    
      <div class="col-sm-4 auth-form-section" style="box-shadow: 1px 1px 20px #040404, -1px -1px 11px #2d2e30;">
      <div class="form-section">
        <div class="auth-wrapper">
         
          <div class="lbl-alert mb-3">
            <!-- <img src="assets/images/favicon.png" alt="bitu-tech logo" style="width: 38%; margin-left: 32%;"> -->
            <h1 style="font-size: 3.5rem;text-align: center;color: #225f75;padding-top: 8%;">
              Login to<br> Shippage</h1>  
          </div>
          <div class="lbl-alert mb-3">
            <h5 style="text-align: center;color: #225f75;padding-top: 2%;padding-bottom: 20%;word-spacing: 3px;">Your One Stop Logistics Solution</h5>
          </div>
          <!-- <h2 *ngIf="!login && !forgot" class="login-title">Sign in</h2>
          <h2 *ngIf="login" class="login-title">Enter Your OTP Number</h2>
          <h2 *ngIf="forgot" class="login-title">Change Your Password</h2>
          <p *ngIf="login">Please Check your registered email to know your OTP No</p> -->
          <!-- <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()"> -->
          <form class="validate-form" [formGroup]="authForm">
            <div class="row">
              <div *ngIf="!login && !forgot" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" style="margin-bottom: -1.5rem!important;text-align: center;">
                <mat-form-field class="example-full-width" style="height:20% !important;" appearance="outline">
                  <mat-label>Email / User Name</mat-label>
                  <input type="text"  class="inputTxt" matInput formControlName="username"/>
                  <mat-icon matSuffix style="margin-top: -50px; position: absolute; margin-left: -29px;">face</mat-icon>
                  <mat-error *ngIf="authForm.get('username').hasError('required')">
                    Email / User Name is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div *ngIf="login" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" style="text-align: center;">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Enter OTP</mat-label> 
                  <input class="inputTxt" matInput formControlName="otpValue"  />
                  <mat-icon matSuffix  style="margin-top: -50px; position: absolute; margin-left: -29px;">face</mat-icon>
                  <mat-error *ngIf="authForm.get('otpValue').hasError('required')">
                    OTP is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div *ngIf="forgot" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" style="text-align: center;">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>User Name/Email Id</mat-label>  
                  <input class="inputTxt" matInput formControlName="userNameEmailId"/>            
                  <mat-icon matSuffix style="margin-top: -50px; position: absolute; margin-left: -29px;">face</mat-icon>
                  <mat-error style="margin-top: 14% !important;"*ngIf="authForm.get('userNameEmailId').hasError('required')">
                    User Name/Email Id is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row">
              <p *ngIf="login" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" style="color: red;">{{timeLeft}} Seconds Left....!!</p>
              <a class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="login" href="#" style="text-decoration: none; text-align:right ;" (click)="resendOtpNo()">Didn't receive OTP resend ?</a>
              </div>
            </div>
            <div class="row">
              <div *ngIf="!login && !forgot" class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2" style="text-align: center;">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input   class="inputTxt" matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Password">
                  <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon style="margin-top: -50px; position: absolute;margin-left: -29px;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                  <mat-error *ngIf="authForm.get('password').hasError('required')">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
           <!--  <div class="d-flex justify-content-between align-items-center mb-5">
              <div *ngIf="!login && !forgot" class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value=""> Remember me
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                </label>
              </div> 
              <ngx-recaptcha2 *ngIf="!forgot && !login" class="form-check" #captchaElem [siteKey]="siteKey" formControlName="recaptchaResponse"></ngx-recaptcha2>
               <div class="form-check">
                <a class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="!forgot && !login" href="#" style="text-decoration: none; text-align:right ;" (click)="forgotpassword()">Forgotten Password?</a>
              </div>  -->
              <!-- <a class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" *ngIf="forgot" href="#" style="text-decoration: none; text-align:right;" (click)="backToSignInPage()">Login page?</a> 
            </div>-->

            <div *ngIf="error" class="alert alert-danger mt-3 mb-0 alertColor">{{error}}</div>
            <div class="container-auth-form-btn">
              <div style="text-align:center">
                <button *ngIf="!login && !forgot" mat-raised-button color="primary" style="background-color: #2c8fff;border-radius: 30px; width: 60%;;color: aliceblue;"   [class.auth-spinner]="loading" [disabled]="loading"
                (click)="onSubmit()" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">Login</button>
                <button *ngIf="login" mat-raised-button color="primary" style="background-color: #2c8fff;border-radius: 30px; width: 60%;;color: aliceblue;"   [class.auth-spinner]="loading" [disabled]="loading"
                (click)="verifyOtp()" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">Verify OTP</button>
                <button *ngIf="forgot" mat-raised-button color="primary" style="background-color: #2c8fff;border-radius: 30px; width: 60%;color: aliceblue;"   [class.auth-spinner]="loading" [disabled]="loading"
                (click)="forgottPasswordButton()" class="auth-form-btn"  type="submit">Submit</button>
              </div>
            </div>

            <div class="">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="display: flex;justify-content: space-evenly;">
                <div class="col-md-5" style="text-align:center">
                  <a class="txt1" routerLink="/authentication/signup">Sign Up</a>
                </div>
                <div class="col-md-2" style="text-align:center">
                  <h3 style="color: #225f75">|</h3>
                </div>
                <div class="col-md-5" style="text-align:center">
                  <a class="txt1" routerLink="/authentication/forgot-password">Forgot Password?</a>
                </div>
              </div>

            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>