
.alertColor{
    color:  #b93d3d !important;
    border-radius: 30px;
}
.container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;  
  }
  .container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background-color:#225f75;
  }
  .validate-input {
    position: relative;
  }
  wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    padding: 29px 0;
  }
  
  .input100 {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
  
    display: block;
    width: 100%;
    height: 20px;
    background: transparent;
    padding: 6px 10px 0 55px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
    
  @media (min-width: 1400px){
.containerlogin, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
}}

@media (min-width: 1200px){
.containerlogin, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}}
@media (min-width: 992px){
.containerlogin, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}}
@media (min-width: 768px){
.containerlogin, .container-md, .container-sm {
    max-width: 720px;
    
}}
@media (min-width: 576px){
.containerlogin, .container-sm {
    max-width: 800px;
    margin-left: 50%;
}}


.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: rgb(108 153 235 / 87%) !important;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    box-shadow: -5px -5px 20px #fff, 0px 5px 11px #c3c6d1;
    border-radius: 8px;
    color: #225f75 !important;
}

.mat-form-field-wrapper {
    padding-bottom: 0.34375em!important;
}

.example-full-width {
    width: 75% !important;
}

.mb-5 {
    margin-bottom: 2rem!important;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 4em!important;
    margin-bottom: 2%;
    margin-top: -20px;
}

// sign in field legend to border gap
:host ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
    border-top-color: #225f75 !important;
 }

// disply none for the field legend

:host ::ng-deep.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill+.mat-form-field-label-wrapper .mat-form-field-label {
     display: none !important;
     transition: none;
 }

 :host ::ng-deep.mat-form-field-empty.mat-form-field-label, .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
     display: none;
 }

 :host ::ng-deep.mat-form-field-empty.mat-form-field-label, .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
     display: none;
 }


 :host ::ng-deep.mat-form-field-subscript-wrapper {
    font-size: 75%;
    margin-top: -2.333333em !important;
    top: calc(100% - 1.7916666667em);
}

:host ::ng-deep.mat-form-field-empty.mat-form-field-label, .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    display: block !important;
}

:host ::ng-deep.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    display: none !important;
}

.mb-2 {
    margin-bottom: -1.5rem!important;
}

:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline{
    color:rgb(161 161 161);
   background-color: #fefeff !important; 
   height:60%;
   border-radius: 24px !important; 
   box-shadow: 0px 2px 13px -6px rgb(0 0 0 / 67%) !important;
   }

:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-start{
    border-radius: 24px 0 0 24px !important;
    min-width: 28px !important;
}

:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius:0 24px  24px 0 !important; 
    min-width: 28px !important; 
}
