<section class="content">
  <div class="content-block mobile-v-p">
    <div class="block-header" style="margin-top: 50px;">
    </div>
    <h3 style="text-align: right;color:#225f75;">One Step Away From Booking</h3>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card" style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
      -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px;width: 100%;padding-left: 40px"> 

       <div class="container-fluid  mt-3">
         
       </div>
       <div class="row">
         
        
        <div class="col-sm-3 p-3">
          <mat-label>  <img src="assets/icons/seaOrigin.png" style="width:20px;height:15px">&nbsp;
              <p>Origin</p> </mat-label><br><br>
          <H6 style=" margin-top: -30px">{{origin}}</H6>
      </div>
      <div class="col-sm-3 p-3">
          <mat-label>  <img src="assets/icons/ship.png" style="width:20px;height:15px">&nbsp;
              <p>Mode of Shipment</p> </mat-label><br><br>
          
          <H6 style=" margin-top: -30px">{{freightMode}} - {{shipmentMode}}</H6>
      </div>
      <div class="col-sm-3 p-3">
          <mat-label>  <img src="assets/icons/cargo.png" style="width:20px;height:15px">&nbsp;
              <p>Cargo Readiness</p> </mat-label><br><br>
         
          <!-- <H6 style=" margin-top: -30px">{{cargoReady.selectedDate}}</H6> -->
          <H6 style=" margin-top: -30px">{{cargoReady.selectedDate}}</H6>
      </div>
      <div class="col-sm-3 p-3">
          <mat-label>  <img src="assets/icons/commodity.png" style="width:20px;height:15px">&nbsp;
              <p>Commodity</p> </mat-label><br><br>
          
          <H6 style=" margin-top: -30px">{{commodity}}</H6>
      </div>
         
         
       </div>
       <div class="row">
        <div class="col-sm-3 p-3">
          <mat-label>  <img src="assets/icons/seaDestination.png" style="width:20px;height:15px">&nbsp;
              <p>Destination</p> </mat-label><br><br>
          
          <H6 style=" margin-top: -30px">{{destination}}</H6>
      </div>
      <div class="col-sm-3 p-3">
          <mat-label>  <img src="assets/icons/incoterms.png" style="width:20px;height:15px">&nbsp;
              <p>Incoterms</p> </mat-label><br><br>
         
          <H6 style=" margin-top: -30px">{{incoterm}}</H6>
      </div>

      <div class="col-sm-3 p-3">
          <mat-label>  <img src="assets/icons/loadtype.png" style="width:20px;height:15px">&nbsp;
              <p>Load Type</p> </mat-label><br><br>
          
          <H6 style=" margin-top: -30px">{{equipmentTypeName}} x {{quantityValue}}</H6>
      </div>

      <div class="col-sm-3 p-3">
          <a (click)="edit()">Edit</a>

      </div>
     
   </div>
</div>
    </div>
    <!-- <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mb-2">
        <p style=" background-color: #225F75;color:white;
        border-radius: 20px;padding-top:8px;padding-bottom:8px;text-align:center">Spot Rate</p>
      </div>
    </div> -->
    <div *ngFor="let title of rateDataList" class="row">
      <div  class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <div class="row"> 
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-6">
            <p style="background-color: #225F75;
            color: white;position: absolute;border-radius: 4px 4px 0px 0px;padding-top: 4px;padding-bottom: 8px; text-align: center; margin-left: 2%;padding-left: 25px;  padding-right: 25px;margin-top: 15px; display: flex; ">Spot Rate</p>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="margin-top: 40px;
          display: flex;">
            <div class="card" style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
            -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px;width: 100%;padding-left: 40px"> 
 
             <div class="container-fluid  mt-6">
                <div class="row">
                    <div class="col-sm-3" style="margin-top:40px">
                        <img src="assets/images/icons/logo-msc.svg" alt="" ><br>
                        <p>CY/CY/F13</p>
                    </div>
                    <div class="col-sm-9">
                        <div class="wavy col-xl-9 col-lg-9 col-md-9 col-sm-9" > 
                            <p style="color:rgb(165, 159, 159); margin: 10% 0% -4% 35%;"> 32 Days </p>
                             <pre>  {{title.origin}}  <img src="assets/images/icons/wave.png" alt="" style="width: 115px;">{{title.destination}}</pre>
                             </div>
                        <div class="row" style="margin-top:-20px">
                            <div class="col-sm-4 p-4" >
                                <p class="paragraph">Sailing Date</p><br><p style=" margin-top: -30px;color:black;font-size:12px">23 July 2022</p>
                            </div>
                           
                            <div class="col-sm-4 p-4" >
                            <p class="paragraph">Free Day</p><br><p style=" margin-top: -30px;color:black;font-size:12px">7 days</p>
                        </div>
                        <div class="col-sm-4 p-4" >
                            <p class="paragraph">Cargo</p><br><p style=" margin-top: -30px;color:black;font-size:12px">FAK</p>
                        </div>
                       </div>
                      
                   
                   
                    </div>
                    
                </div>
               
             </div>
             </div>
          </div>
        
        <h3 style="text-align: left;color:#225f75;"> Other Charges</h3>
        <div class="row">
          <div class="col-lg-6">
            <div class="card" style="margin-top:8px;padding-top:8px;padding-bottom:8px;padding-right:8px;padding-left:8px;">
              <div class="row">
                <div class="col-lg-12">
                  <h4 style="color:#225f75;padding-top: 5px;padding-left: 8%;">Origin</h4>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <mat-label style="color:#225f75;padding-top: 5px;padding-left: 8%;"> Included </mat-label>
                  <ul>
                    <li><i class="fa fa-check" STYLE="color:#225f75;font-size:10px"></i>&nbsp;Packing</li>
                    <li><i class="fa fa-check" STYLE="color:#225f75;font-size:10px"></i>&nbsp;Transportation</li>
                    <li><i class="fa fa-check" STYLE="color:#225f75;font-size:10px"></i>&nbsp;Custom Clearance </li>
                    <li><i class="fa fa-check" STYLE="color:#225f75;font-size:10px"></i>&nbsp;Origin Charges </li>
                    <li><i class="fa fa-check" STYLE="color:#225f75;font-size:10px"></i>&nbsp;Fumigration </li>
                  </ul>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <mat-label style="color:#225f75;padding-top: 5px;padding-left: 7%;">Excluded </mat-label>
                  <ul>
                    <li><span STYLE="color:#225f75;"><b>x</b></span>&nbsp; CFS Charges </li>
                    <li><span STYLE="color:#225f75;"><b>x</b></span>&nbsp; Telex Release</li>
                    <li><span STYLE="color:#225f75;"><b>x</b></span> &nbsp; Insurance </li>
                    <li><span STYLE="color:#225f75;"><b>x</b></span>&nbsp; Pelletization </li>
                    <li><span STYLE="color:#225f75;"><b>x</b></span>&nbsp; Others </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>


          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="card" style="margin-top:8px;padding-top:8px;padding-bottom:8px;padding-right:8px;padding-left:8px;">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <h4 style="color:#225f75;padding-top: 5px;padding-left: 7%;">Destination</h4>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <mat-label style="color:#225f75;padding-top: 5px;padding-left: 7%;"> Included </mat-label>
                  <ul>
                    <li><i class="fa fa-check" STYLE="color:#225f75;font-size:10px"></i> &nbsp;Custom Clearance</li>
                    <li><i class="fa fa-check" STYLE="color:#225f75;font-size:10px"></i>&nbsp;Transportation</li>
                    <li><i class="fa fa-check" STYLE="color:#225f75;font-size:10px"></i>&nbsp;Destination Charges </li>
                    <li><i class="fa fa-check" STYLE="color:#225f75;font-size:10px"></i>&nbsp;CFS Charges </li>
                    <li><i class="fa fa-check" STYLE="color:#225f75;font-size:10px"></i>&nbsp;Insurance </li>
                  </ul>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <mat-label style="color:#225f75;padding-top: 5px;padding-left: 7%;">Excluded </mat-label>
                  <ul>
                    <li> <span STYLE="color:#225f75;"><b>x</b></span> &nbsp;Duty</li>
                    <li><span STYLE="color:#225f75;"><b>x</b></span>&nbsp; Survay Charges</li>
                    <li><span STYLE="color:#225f75;"><b>x</b></span> &nbsp;Others </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" style="position: relative;">
        <div class="card" style="text-align: center;margin-top: 40px;">
          <div class="row">
            <div class="col-lg-12 alignimg">
              <h5 style="text-align: center;color:#888c8e;padding-top: 8%;"> Unit Cost</h5>
              <p>  {{title.equipName}} x 1    - USD {{title.rate  | number: '2.'}}  </p>
              

              <h5 style="text-align: center;color:#888c8e;padding-top: 8px;"> Total Shipment Cost</h5>
              <p>  {{title.equipName}} x {{quantityValue}}    - USD {{rateValueFinal | number: '2.'}}  </p>

              <h5 style="text-align: center;color:#888c8e;padding-top: 8px;"> Other Charges</h5>
              <p>  {{title.equipName}} x {{quantityValue}}    - USD 1,000  </p>

              <mat-label> Total Cost</mat-label>
              <h3 style="text-align: center;"> USD {{rateValueFinal | number: '2.'}} </h3>
              <br>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-6" style="margin-top: -16px;padding-left: 35px;">
                <button class="btn-space" mat-raised-button color="primary" class="buttonCSS" (click)="bookingShipment()">Proceed</button>
              </div>

            </div>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div style="padding-left: 2%;padding-bottom: 1%;">
      <button mat-mini-fab color="primary" (click)="back()">
        <mat-icon class="col-white">arrow_back_ios</mat-icon>
      </button>
    </div>
  </div>
</section>