<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="''" [items]="['Inventory']" [active_item]="'Add Stock Verification'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card ">
            <div class="body">
              <form class="m-4" [formGroup]="docForm" (ngSubmit)="onSubmit()">
                 <div class="row">
                  <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 " style="margin-left: 185px;">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Stock Verification No</mat-label>
                      <input matInput formControlName="stockVerificationNo" required>
                      <mat-error *ngIf="docForm.get('stockVerificationNo').hasError('required')">
                        Stock Verification No is required
                      </mat-error>
                    </mat-form-field>
                  </div> 
                  <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Location</mat-label>
                      <input matInput formControlName="location" required>
                      <mat-error *ngIf="docForm.get('location').hasError('required')">
                        Location is required
                      </mat-error>
                    </mat-form-field>
                  </div>             
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12" style="margin-left: 185px;">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Date</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 " >
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Verified By</mat-label>
                      <input matInput formControlName="verifiedBy" required>
                      <mat-error *ngIf="docForm.get('verifiedBy').hasError('required')">
                        Verified By is required
                      </mat-error>
                    </mat-form-field>
                  </div>    
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 " style="margin-left: 185px;" >
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Organization Name</mat-label>
                      <input matInput formControlName="organizationName" required>
                      <mat-error *ngIf="docForm.get('organizationName').hasError('required')">
                        Organization Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>                    
                  <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Job Title</mat-label>
                      <input matInput formControlName="jobTitle" required>
                      <mat-error *ngIf="docForm.get('jobTitle').hasError('required')">
                        Job Title is required
                      </mat-error>
                    </mat-form-field>
                  </div>               
                </div><br> 
                
                  
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:1.75em;">                                         
                            <div class="table-responsive">
                              <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell"
                              #exporter="matTableExporter">
                   
                                <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->
                            
                                <ng-container matColumnDef="propertyType">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Item Code-Item Name</mat-header-cell>
                                  <mat-cell *matCellDef="let row" >{{row.propertyType}}</mat-cell>
                                </ng-container>
                            
                                <ng-container matColumnDef="propertyName">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.propertyName}}</mat-cell>
                                </ng-container>
                                
                                <ng-container matColumnDef="type">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>UOM</mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.type}}</mat-cell>
                                </ng-container>
                            
                                <ng-container matColumnDef="isMandatory">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Available Qty</mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.isMandatory}}</mat-cell>
                                </ng-container>
  
                                <ng-container matColumnDef="availableQty">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Physical Qty</mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.availableQty}}</mat-cell>
                                </ng-container>
  
                                <ng-container matColumnDef="differenceQty">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Difference Qty</mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.differenceQty}}</mat-cell>
                                </ng-container>
  
                                <ng-container matColumnDef="stockAdjustment">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Stock Adjustment</mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.stockAdjustment}}</mat-cell>
                                </ng-container>
  
                                <ng-container matColumnDef="status">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.status}}</mat-cell>
                                </ng-container>
                                                                  
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                              </mat-table>
                            
                              <!-- <div class="no-results" >
                                No results
                              </div> -->
                              <mat-paginator #paginator  [pageIndex]="0" [pageSize]="10"
                              [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>                                      
                      </div>
                    </div>             
                </div>
              
              <div class="row"> 
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button (click) = "onSubmit()" class="btn-space" mat-raised-button
                    style="margin-left: 38%; color: aliceblue; background-color: green;">Save</button>
                  <button (click) = "reset()" class="btn-space" mat-raised-button
                    color="primary">Reset</button>
                  <button color="warn" (click) = "onCancel()" type="button" mat-raised-button>Cancel</button>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>