<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <!-- <app-breadcrumb [title]="'Dashboad'" [items]="['Home']" [active_item]="'Dashboad'"></app-breadcrumb> -->
       <!-- <app-breadcrumb></app-breadcrumb>  -->
    </div>
    <div class="row ">
      <div class="col-xl-12 ">
        <div class="card">
          <div class="row">
            <h2 style="text-align: center;color:#225f75;padding-top: 30px;padding-bottom: 13%;">Route Details</h2>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12"style="padding-left: 15%;">
              <img src="assets/images/products/bluepin.gif" alt="" style="width: 45px;">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12" style="padding-top: 4px;"> 
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Origin</mat-label>
                    <mat-select formControlName="purchaseMethod" required>
                      <mat-option [value]="'1'">
                        General
                      </mat-option>
                      <mat-option [value]="'2'">
                        Rate Contract
                      </mat-option>
                      <mat-option [value]="'3'">
                        Consignment
                      </mat-option>
                     </mat-select>
                  </mat-form-field>
                
            </div>
            <div class="wavy col-xl-3 col-lg-3 col-md-5 col-sm-5" style="padding-left: 9%;margin-top: -11px;padding-bottom: 18%;">
              <img src="assets/images/icons/wave.png" alt="" style="width: 100%;">
          </div> 
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12"style="padding-left: 15%;">
            <img src="assets/images/products/redpin.gif" alt="" style="width: 45px;">
          </div>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12" style="padding-top: 6px;"> 
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Destination</mat-label>
                    <mat-select formControlName="purchaseMethod" required>
                      <mat-option [value]="'1'">
                        General
                      </mat-option>
                      <mat-option [value]="'2'">
                        Rate Contract
                      </mat-option>
                      <mat-option [value]="'3'">
                        Consignment
                      </mat-option>
                     </mat-select>
                  </mat-form-field>
               
            </div>
          </div>
          <!-- <button mat-mini-fab color="primary" (click)="back()">
              <mat-icon class="col-white">add</mat-icon>
            </button> -->
        </div>

      </div>
    </div>
  </div>
</section>