<section class="content">
    <div class="content-block">
      <div class="block-header" style="margin-top: 48px;">
        <!-- breadcrumb -->
        <!-- <app-breadcrumb [title]="'Dashboad'" [items]="['Home']" [active_item]="'Dashboad'"></app-breadcrumb> -->
         <!-- <app-breadcrumb></app-breadcrumb>  -->
      </div>
      <div class="row ">
        <div class="col-xl-12 ">
          <div class="card" style="background: #ebebeb55;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
          -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);">
            <div class="row">
              <h2 style="text-align: center;color:#225f75;padding-top: 30px;">Mode of Shipment</h2>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="padding: 45px 75px 15px 75px;">
                <div class="card" (click)="fcl();"> 
                  <div class="body"  style="background:#225f75;border-radius: 25px;">
                    <div class="card-bnner" style="background:#225f75;">
                      <div class="row">
                        <!-- <div class="col-lg-6">
                          <img src="assets/images/pages/home-1.png" alt="">
                        </div> -->
                        <div class="col-lg-12 alignimg">
                          <img  src="assets/images/icons/fcl.png" alt="">
                          <h3 style="color:white;text-align: center;">FCL</h3> 
                          <h6 style="color:white;text-align: center;font-size: 10px;font-weight: 100;">Full Container Load</h6>
                          <!-- <a [routerLink]="['/admin/dashboard/main']">Download <i class="fas fa-arrow-down"></i> </a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="padding: 45px 75px 15px 75px;">
                <div class="card" (click)="lcl();"> 
                  <div class="body" style="background:#225f75;border-radius: 25px;">
                    <div class="card-bnner" style="background:#225f75;">
                      <div class="row">
                        <!-- <div class="col-lg-6">
                          <img src="assets/images/pages/home-1.png" alt="">
                        </div> -->
                        <div class="col-lg-12 alignimg">
                          <img src="assets/images/icons/lcl.png" alt="">
                          <h3 style="color:white;text-align: center;">LCL</h3>
                          <h6 style="color:white;text-align: center;font-size: 10px;font-weight: 100;">Less than Container Load</h6> 
                          <!-- <a [routerLink]="['/admin/dashboard/main']"><i class="fa-solid fa-ship"></i> </a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="padding-left: 2%;padding-bottom: 1%;">
              <button mat-mini-fab color="primary" (click)="back()">
                <mat-icon class="col-white">arrow_back_ios</mat-icon>
              </button>
            </div>
            
          </div>
  
        </div>
      </div>
    </div>
  </section>