<section class="content">
    <div class="content-block mobile-v-p">
      <div class="block-header" style="margin-top: 22px;">
        <!-- breadcrumb -->
        <!-- <app-breadcrumb [title]="'Dashboad'" [items]="['Home']" [active_item]="'Dashboad'"></app-breadcrumb> -->
         <!-- <app-breadcrumb></app-breadcrumb>  -->
      </div>
      <div class="row ">
        <div class="col-xl-12 ">
          <div class="card" style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
          -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);">

           <div *ngIf="topback" (click)="back()" style="position: absolute;top: 34px;left: 34px;"> 
            <mat-icon class="blue">arrow_back_ios</mat-icon> 
          </div>

           <div class="row"> 
              <h2 style="text-align: center;color:#225f75;padding-top: 30px;">Mode of Shipment</h2>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" [ngStyle]="{'padding' : padding}">
                <div class="card" (click)="fcl();"> 
                  <div class="body"  style="background:#225f75;border-radius: 25px;">
                    <div class="card-bnner" style="background:#225f75;" [ngStyle]="{'padding': cardpadding}">
                      <div class="row"> 
                        <div class="col-lg-12 alignimg">
                          <img  src="assets/images/icons/fcl.png" alt="">
                          <h3 style="color:white;text-align: center;">FCL</h3> 
                          <h6 style="color:white;text-align: center;font-size: 10px;font-weight: 100;">Full Container Load</h6>
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" [ngStyle]="{'padding' : padding}">
                <div class="card" (click)="lcl();"> 
                  <div class="body" style="background:#225f75;border-radius: 25px;">
                    <div class="card-bnner" [ngStyle]="{'background' : '#225f75','padding': cardpadding}">
                    <!-- style="background:#225f75;padding: 65px 0px 33px 0px"> -->
                      <div class="row"> 
                        <div class="col-lg-12 alignimg">
                          <img src="assets/images/icons/lcl.png" alt="">
                          <h3 style="color:white;text-align: center;">LCL</h3>
                          <h6 style="color:white;text-align: center;font-size: 10px;font-weight: 100;">Less than Container Load</h6> 
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!topback" style="position: absolute;bottom: 25px;left: 40px;">
              <button mat-mini-fab color="primary" (click)="back()">
                <mat-icon class="col-white">arrow_back_ios</mat-icon>
              </button>
            </div> 
          </div>
  
        </div>
      </div>
    </div>
  </section>