mat-button-toggle-group 
  margin-left: 12px


mat-tab-label  
    display: inline-flex
    justify-content: center
    align-items: center
    white-space: nowrap
    color: black
    background: #7aadf1
    width: 100%
    font-size: 20px
    font-family: sans-serif
    font-weight: 700
    border-radius: 8px

.mat-tab-labels 
    display: flex

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active 
    color: white
    background-color: #fcd18c
    border-radius: 10px
    width: 55%
    opacity: 1
    




::ng-deep .mat-tab-list .mat-tab-labels 
        color: black
        background-color: #73ccd5
        width: 33.5%
        font-size: 20px
        font-weight: 700
        border-radius: 10px  
        margin-left: 29%
    