<!-- <div class="card" style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
          -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);"> -->
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding: 1%;">
    <mat-tab-group>
        <mat-tab label="Route Details">
            <section class="">
                <div class="">
                    <div class="row">
                        <form  [formGroup]="docForm">
                           
                                <h1 style="text-align:center;color:#225F75;font-weight:bold;padding: 1%;">Route Details</h1>
                                <div class="card"
                                    style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
                                            -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px; padding:4%;">

                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                            <mat-form-field class="example-full-width form-control-sm"
                                                appearance="outline">
                                                <mat-label required> <img src="assets/icons/seaOrigin.png"
                                                        style="width:20px;height:15px">&nbsp;&nbsp;
                                                    <p>Origin</p>
                                                </mat-label>
                                                <mat-select class="inputTxt" formControlName="origin" required>
                                                    <mat-option *ngFor="let title of dropdownList" [value]="title.id">
                                                        {{title.text}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 img" style="margin-top: -13px;">
                                            <img src="assets/icons/waveSea.png" alt="" style="width: 100%;">
                                        </div>

                                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                            <mat-form-field class="example-full-width form-control-sm"
                                                appearance="outline">
                                                <mat-label> <img src="assets/icons/seaDestination.png"
                                                        style="width:20px;height:15px">&nbsp;&nbsp;
                                                    <p>Destination</p>
                                                </mat-label>
                                                <mat-select formControlName="destination" class="inputTxt" required>
                                                    <mat-option *ngFor="let title of dropdownList" [value]="title.id">
                                                        {{title.text}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                           
                        </form>
                    </div>
                </div>
            </section>
        </mat-tab>

        <mat-tab label="Load Type">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h1 style="text-align:center;margin-top:20px;margin-bottom:20px;color:#225F75;font-weight:bold;">Load
                    Type</h1>
                <div class="card"
                    style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5); -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px; padding:4%;">
                    <div class="row">
                        <div style="overflow-x:auto;">
                            <table>
                                <tr>
                                    <th>Equipment Type </th>
                                    <th>Quantity</th>
                                    <th>Cargo Weight</th>
                                </tr>

                                <ng-container
                                    *ngFor="let loadTypeDetailBean of docForm.get('loadTypeDetailBean')['controls']; let i = index">
                                    <tbody [formGroup]="loadTypeDetailBean">
                                        <tr>
                                            <td style="margin-left:20%">
                                                <mat-form-field appearance="outline">
                                                    <mat-select name="equipmentType{{i}}"
                                                        formControlName="equipmentType" matNativeControl required>
                                                        <mat-option *ngFor="let title of equipmentTypeList"
                                                            [value]="title.id">
                                                            {{title.text}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field appearance="outline">
                                                    <input matInput type="number" class="" value="2" min="0" step="1"
                                                        name="quantity{{i}}" formControlName="quantity" required>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field appearance="outline">
                                                    <input matInput type="number" class="" value="2" min="0" step="1"
                                                        name="cargoWeight{{i}}" formControlName="cargoWeight" required>

                                                </mat-form-field>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <!-- <div class="row"> -->

        <button mat-flat-button  color="warn" (click)="onClick()" tabindex="-1"style="margin-left:47%" >Cancel</button>
   
    <!-- </div> -->
</div>