<!-- <div class="card" style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
          -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);"> -->
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding: 1%;">
    <mat-tab-group>
        <mat-tab label="Route Details">
            <section class="">
                <div class="">
                    <div class="row">
                        <form  [formGroup]="docForm">
                           
                                <h1 style="text-align:center;color:#065C7A;font-weight:bold;padding: 1%;">Route Details</h1>
                                <div class="card"
                                    style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
                                            -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px; padding:4%;">

                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="text-align: -webkit-center">
                                          <div class="col-md-6">
                                            <mat-form-field class="example-full-width form-control-sm"
                                                appearance="outline">
                                                <mat-label required> <img src="assets/icons/seaOrigin.png"
                                                        style="width:20px;height:15px">&nbsp;&nbsp;
                                                    <p>Origin</p>
                                                </mat-label>
                                                <mat-select class="inputTxt" formControlName="origin" required>
                                                    <mat-option *ngFor="let title of polList" [value]="title.id">
                                                        {{title.text}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                          </div>
                                        </div>


                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="text-align: -webkit-center">
                                          <div class="col-md-6">
                                            <mat-form-field class="example-full-width form-control-sm"
                                                appearance="outline">
                                                <mat-label> <img src="assets/icons/seaDestination.png"
                                                        style="width:20px;height:15px">&nbsp;&nbsp;
                                                    <p>Destination</p>
                                                </mat-label>
                                                <mat-select formControlName="destination" class="inputTxt" required>
                                                    <mat-option *ngFor="let title of podList" [value]="title.id">
                                                        {{title.text}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                           
                        </form>
                    </div>
                </div>
            </section>
        </mat-tab>

        <mat-tab label="Load Type">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h1 style="text-align:center;margin-top:20px;margin-bottom:20px;color:#065C7A;font-weight:bold;">Load
                    Type</h1>
                <div class="card"
                    style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5); -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px; padding:4%;">
                    <div class="row">
                        <div style="overflow-x:auto;overflow-y: hidden;">
                            <table >
                                <tr >
                                  <th >Equipment Type </th>
                                   <th >Quantity</th>
                                   <th >Cargo Weight</th>
                                   <th></th>
                                   <th ></th>
                           
                                   </tr>
                               
                                  
            
                          <ng-container 
                          *ngFor="let loadTypeDetailBean of docForm.get('loadTypeDetailBean')['controls']; let i = index">
                          <tbody [formGroup]="loadTypeDetailBean" >
                            
                            <tr >
                             
                              <td >                                         
                                <mat-form-field  appearance="outline" >
                                  <mat-select name="equipmentType{{i}}" formControlName="equipmentType" matNativeControl required>
                                    <mat-option *ngFor="let title of equipmentTypeList" [value]="title.id" >
                                      {{title.text}}
                                      </mat-option>
                                   </mat-select>
                                    <!-- <mat-select  required>
                                    <mat-option value="20TK">20TK</mat-option>
                                    <mat-option value="D20">D20</mat-option>                                  
                                    <mat-option value="20OT">20OT</mat-option>
                                    <mat-option value="R40H">R40H</mat-option>
                                    <mat-option value="D40H">D40H</mat-option>
                                    <mat-option value="40FR">40FR</mat-option>                                    
                                  </mat-select> -->
                                </mat-form-field>
                               
                               
                              </td>
                            <td >
                                <mat-form-field  appearance="outline">
                                  <!-- <div class="row" style="padding-left:90px;padding-right:50px;"> -->
                                    <input matInput type="number" class="size-12"  min="0"  step="1" 
                                    name="quantity{{i}}" formControlName="quantity" required>
                                  <!-- </div><br> -->
                                 
                                </mat-form-field>
                              </td>
            
                              <td >
                                <mat-form-field  appearance="outline">
                                  <!-- <div class="row" style="padding-left:90px;padding-right:50px;"> -->
                                    <input matInput type="number" class="size-12"  min="0"  step="1"
                                    name="cargoWeight{{i}}" formControlName="cargoWeight" required>
                                  <!-- </div><br> -->
                                  
                                </mat-form-field> 
                              </td>

                              
                               
                              <td style=" padding-left: 15px;">
                                     
                                <button mat-mini-fab color="warn" (click)="removeRow(i)" >
                                  <mat-icon class="col-white"  >remove</mat-icon>
                                </button></td>
                                
                                <td style="  padding-left: 15px;">         
                                  
                                  <button mat-mini-fab color="primary" (click)="addRow()">
                                    <mat-icon class="col-white">add</mat-icon>
                                  </button>
                                </td>
                              
                              </tr>
                          </tbody>
                          </ng-container>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
       <div class="row">
        <div class="col-md-12" style="text-align:-webkit-center;">
          <button mat-flat-button  color="primary" (click)="editdone()" tabindex="-1"style="width: 15%;" >Done</button>
        </div> 
    
     </div>  
</div>