<!-- <section class="content">
    <div class="content-block mobile-v-p">
      

            <div class="col-xl-12 "> -->
                <div class="card" style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
          -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding: 3%;">
                     

                        <div class="row">
                            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12"></div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <mat-button-toggle-group  aria-label="Font Style">
                                    <mat-button-toggle aria-label="bold">route details</mat-button-toggle>
                                   
                                    <mat-button-toggle aria-label="bold">Incoterms</mat-button-toggle>
                                    <mat-button-toggle aria-label="bold">Commodity</mat-button-toggle>
                                    <mat-button-toggle aria-label="bold">Cargo Readiness</mat-button-toggle>
                                    <mat-button-toggle aria-label="bold">Load Type</mat-button-toggle>
                                </mat-button-toggle-group>
                                
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12"></div>
                        
                        </div>
                      
                    </div>
                </div>
            <!-- </div>
       
    </div>
</section> -->
