<section class="content">
    <div class="content-block mobile-v-p">
      <div class="block-header" style="margin-top: 22px;">
        <!-- breadcrumb -->
        <!-- <app-breadcrumb [title]="'Dashboad'" [items]="['Home']" [active_item]="'Dashboad'"></app-breadcrumb> -->
         <!-- <app-breadcrumb></app-breadcrumb>  -->
      </div>
      <div class="row ">
        <div class="col-xl-12 ">
          <div class="card " style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
          -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px;">
              
             
              <div class="container-fluid" >
                <form class="m-12" [formGroup]="docForm">
                <div class="row">
                  <div class="col-sm-3 " style="margin-top: 30px">
                    
                      <div class="col-xl-3 " style="margin-top: 150px ;margin-left: 30px;">
                        <button class="sideButton" (click)="incoterms()"style="background-color: #225F75!important;color:white"><i class="fa fa-home"></i> Incoterms</button>
                        </div>
                        <div class="col-xl-3 " style="margin-top: 20px;margin-left: 30px;">
                          <button class="sideButton" (click)="commodity()"><i class="fa fa-home"></i> Commodity</button>
                          </div>
                          <div class="col-xl-3 " style="margin-top: 20px;margin-left: 30px;">
                            <button class="sideButton" (click)="cargoReadiness()"><i class="fa fa-home"></i> Cargo Readiness</button>
                            </div>
                            <div class="col-xl-3 " style="margin-top: 20px;margin-left: 30px;">
                              <button class="sideButton" (click)="loadType()"><i class="fa fa-home"></i> Load Type</button>
                              </div>
                             
                  </div>
                  
                  <!-- <div class="form-group" *ngIf="incotermsChange"> -->
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9" style="padding: 45px 50px 15px 20px;" >
                      <h1 style="text-align:center;margin-top:20px;margin-bottom:20px;color:#225F75;font-weight:bold">Incoterms</h1> 
                      <div class="card align-items-center" style="border-radius: 24px;width: 100%;height:100%;padding-top: 24px;
                      padding-left: 64px;padding-right: 64px;padding-bottom: 24px;" > 
                      <div class="row">
                        
                         <div class="row" >
                              <div class="col-md-6"  >
                                <mat-radio-group formControlName="incoterm">
                                  <mat-radio-button   *ngFor="let title of incotermList" [value]="title.termid"  style="margin-left:14px"> <p style="margin-top: 15px;"> <span style="font-size: 15px;">  {{title.text}}</span></p></mat-radio-button><br>
                                
                                  </mat-radio-group>
                              </div>
                            </div>
                            <!-- <mat-form-field class="example-full-width form-control-sm" appearance="outline"  style="width: 450px;">
                              <mat-label>Incoterms</mat-label>
                            
                               <mat-select formControlName="incoterms" class="inputTxt" required>
                                
                                <mat-option *ngFor="let title of incotermList" [value]="title.termid" required>
                                  {{title.text}}
                                </mat-option>
        
                               </mat-select>
                            </mat-form-field> -->
                            
                         </div>
                        </div>
                    </div>
                
                      
                      <!-- Cargo Details-->
                    <!-- <div class="form-group" > -->
                      <!-- <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9" style="padding: 45px 50px 15px 20px;" *ngIf="cargoDetailsChange">
                        <h1 style="text-align:center;margin-top:20px;margin-bottom:20px;color:#225F75;font-weight:bold">Cargo Details</h1> 
                        <div class="card " style="border-radius: 25px;width: 100%;height: 80%;padding-top: 40px;
                      padding-left: 60px;padding-right: 20px;padding-bottom: 20px;" >
                          <div class="row" style="overflow-x:auto;">
                            
                              
              <div class="col-xl-10" >
               <div class="wrapper">
                    <table style="width: 100%;padding-left:10px;padding-right:10px">
                      



              <tr>
             
              <th >Package Type </th>
              <th >Quantity</th>
                <th  >Cargo Weight</th>
                <th  >Dimension details</th>
                
              
              </tr>
              

              <ng-container 
              *ngFor="let cargoDetailBean of docForm.get('cargoDetailBean')['controls']; let i = index">
              <tbody [formGroup]="cargoDetailBean" >
                <tr style="width:100%">
                 

                  <td >
                  <mat-form-field  appearance="outline" >
                    <input matInput >
                    </mat-form-field>
                    </td>


                  <td >
                             
                    <mat-form-field  appearance="outline"  >
                        <mat-select name="equipmentType{{i}}" formControlName="equipmentType" matNativeControl required>
                        <mat-option value="volvo">General</mat-option>
                        <mat-option value="saab">Rate Contract</mat-option>
                        <mat-option value="mercedes">Consignment</mat-option>
                        
                      </mat-select>
                    </mat-form-field>
                  </td>
                <td >
                    <mat-form-field  appearance="outline" >
                      <input matInput type="number" class="size-12" value="2" min="0" max="10" step="1" 
                        name="quantity{{i}}" formControlName="quantity" >
                     
                      
                    </mat-form-field>
                  </td>

                  <td >
                    <mat-form-field  appearance="outline" >
                     <input matInput type="number" class="size-12" value="2" min="0" max="10" step="1"
                        name="cargoWeight{{i}}" formControlName="cargoWeight">
                      </mat-form-field> 
                  </td>
                 
                  
                  </tr>
              </tbody>
              </ng-container>
              </table></div>
              </div>

              <div class="col-xl-2" style="margin-top: 42px;">
                <button mat-mini-fab color="primary" (click)="addRow1()">
                  <mat-icon class="col-white">add</mat-icon>
                </button>
              </div>

            
                            </div>
                             
                            <div class="row" >
                              <div >
                                <p style="float: right;margin-top:150px;margin-bottom:10px;padding-right: 20px;">Volume</p>
                                
                              </div></div>
                              <div class="row" ><div class="col-md-9" >
                                  
                                <a mat-button href="https://www.google.com/" target="_blank" style="float: right;">Reset</a>
                              </div>
                              <div class="col-md-3">
                                <button mat-raised-button color="primary" class="buttonCSS" style="float: right;">Done</button>
                                
                              </div>
                            </div>




                           </div>

              </div> -->
              </div>
            </form>
              </div>
            <div class="row">
             
                
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6" style="padding-left: 2%;padding-bottom: 1%;margin-top: 80px;">
                  <button mat-mini-fab color="primary" (click)="routeDetails()">
                    <mat-icon class="col-white" >arrow_back_ios</mat-icon>
                  </button>
                </div> 
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6" style="padding-left: 2%;padding-bottom: 1%;margin-top: 80px;">
                    <button   class="btn-space" mat-raised-button (click)="commodity()"
                    color="primary" class="buttonCSS" style="float: right;" >Next</button>
                    
                     </div>
                
                </div>  
          </div>
          
        </div>
        
      </div>
      
    </div>
  </section>