.button 
  padding: 15px 25px
  font-size: 24px
  text-align: left
  cursor: pointer
  outline: none
  color: black
  background-color: white
  border: 1px solid black
  border-radius: 25px
  width:180px
 


.button:hover 
    background-color: #225F75
    color: white

.button:focus 
  background-color: #225F75
  box-shadow: 0 5px #666
  transform: translateY(4px)
  color: white

.demo-inline-calendar-card 
  width: 300px

.vl 
  border-left: 1px solid #225F75
  height: 300px
  position: absolute
  left: 50%
  margin-left: -3px
  top: 20px
  bottom: 20px

.size-12 
  font-size: 12px
  width: 90px
  border-radius: 20px

.mat-form-field 
  width: 100%

.buttonCSS
  padding: 4px 24px
  font-size: 18px
  text-align: center
  cursor: pointer
  outline: none
  color: white
  background-color: #225F75
  border-radius: 25px
  width:120px


