<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Add Item Master'" [items]="['Item Master']" [active_item]="'Add Item Master'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card" style="margin-top: 1.75em;
          width: 100%;    margin-left:20px;">
          <div class="body">
            <form class="m-4" [formGroup]="docForm">
              <div class="row">
                <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 ">
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Item Type</mat-label>
                    <mat-select formControlName="itemType" required>
                      <mat-option [value]="'1'">
                        Asset
                      </mat-option>
                      <mat-option [value]="'2'">
                        Consumable
                      </mat-option>
                      <mat-option [value]="'3'">
                        Stockable Product
                      </mat-option>
                      <mat-option [value]="'4'">
                        Service
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Item Code</mat-label>
                    <input matInput formControlName="itemCode" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 ">
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Item Name</mat-label>
                    <input matInput formControlName="itemName" required>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Item Category</mat-label>
                    <input matInput formControlName="itemCategory" appearance="outline">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 ">
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Item Description</mat-label>
                    <input matInput formControlName="itemDescription">
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-10 col-sm-10 ">
                  <mat-checkbox formControlName="saleable" ngInit="checked=true">Saleable</mat-checkbox>
                </div>
                <div class="col-xl-1 col-lg-3 col-md-10 col-sm-10 ">
                  <mat-checkbox formControlName="purchaseable" ngInit="checked=true">Purchaseable</mat-checkbox>
                </div>
              </div>

              <mat-tab-group>
                <mat-tab label="Information">
                  <!-- sales -->
                  <div *ngIf="docForm.get('saleable').value == true">
                    <div style="font-size: 18px;">sales</div>
                    <div class="row">
                      <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 ">
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Costing Method</mat-label>
                          <mat-select formControlName="costingMethod" required>
                            <mat-option [value]="'1'">
                              Actual Cost
                            </mat-option>
                            <mat-option [value]="'2'">
                              Weighted Average
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Cost Price</mat-label>
                          <input matInput formControlName="costPrice" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 ">
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Warranty</mat-label>
                          <input matInput formControlName="warranty" required>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Lead Time</mat-label>
                          <input matInput formControlName="leadTime" appearance="outline">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <!-- purchase -->

                  <div *ngIf="docForm.get('purchaseable').value == true">
                    <div style="font-size: 18px;">Purchase</div>
                    <div class="row">
                      <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 ">
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Purchase Method</mat-label>
                          <mat-select formControlName="purchaseMethod" required>
                            <mat-option [value]="'1'">
                              General
                            </mat-option>
                            <mat-option [value]="'2'">
                              Rate Contract
                            </mat-option>
                            <mat-option [value]="'3'">
                              Consignment
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                        <mat-checkbox formControlName="purchaseReq" ngInit="checked=true">Purchase Requisition
                        </mat-checkbox>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 ">
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Purchase UOM</mat-label>
                          <mat-select formControlName="pruchaseUom" required>
                            <mat-option [value]="'11'">
                              General
                            </mat-option>
                            <mat-option [value]="'12'">
                              Rate Contract
                            </mat-option>
                            <mat-option [value]="'36'">
                              Consignment
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Reorder Level</mat-label>
                          <input matInput formControlName="reorderLevel" appearance="outline">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 ">
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Minimum Quantity</mat-label>
                          <input matInput formControlName="minimumQty" appearance="outline">
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                          <mat-label>Maximum Quantity</mat-label>
                          <input matInput formControlName="maximumQty" appearance="outline">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </mat-tab>

                <mat-tab label="Specification">

                </mat-tab>

                <mat-tab label="Vendor">
                  <div>
                    <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
                      <thead class="">
                        <tr>
                          <th class="width_1 table-heading text-center" style="margin-left: 25px;
                     width: 11%; border-radius: 0.05rem;"><label class="i-checks m-b-none"> <input type="checkbox"
                                ng-model="selectedAll" ng-change="checkAllVendor()">
                              <i></i>
                            </label></th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                       width: 12%; border-radius: 0.05rem;">Vendor</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                       width: 12%; border-radius: 0.05rem;">Vendor Item Name</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                       width: 12%;border-radius: 0.07rem;">Item Name</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                       width: 12%;border-radius: 0.07rem;">Item Code</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                       width: 12%;border-radius: 0.07rem;">Vendor Item Code</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                       width: 12%;border-radius: 0.07rem;">Minimum Quantity</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                     width: 12%;border-radius: 0.07rem;">Vendor UOM</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                     width: 12%;border-radius: 0.07rem;">Delivery Lead Time</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                     width: 12%;border-radius: 0.07rem;">Pricing Type</th>

                        </tr>
                      </thead>
                      <tbody *ngFor="let obj of dataarray; let i=index">
                        <tr>
                          <td class=" text-center">
                            <label class="i-checks m-b-none"> <input type="checkbox" ng-model="row.tableId">
                            </label>
                          </td>

                          <td class="padding-both-side-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <mat-label>Select</mat-label>
                              <mat-select name="vendor{{i}}" [(ngModel)]="obj.vendor"
                                [ngModelOptions]="{standalone: true}">
                                <mat-option [value]="'1'">
                                  Introduction / Presentation
                                </mat-option>
                                <mat-option [value]="'2'">
                                  Service Requirement
                                </mat-option>
                                <mat-option [value]="'3'">
                                  Offer Rates
                                </mat-option>
                                <mat-option [value]="'4'">
                                  Negotiations
                                </mat-option>
                                <mat-option [value]="'5'">
                                  Collection Follow up
                                </mat-option>
                                <mat-option [value]="'6'">
                                  Courtesy call
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </td>

                          <td class="padding-both-side-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <input matInput name="vendorItemName{{i}}" [(ngModel)]="obj.vendorItemName"
                                [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                          </td>

                          <td class="padding-both-side-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <input matInput name="itemName{{i}}" [(ngModel)]="obj.itemName"
                                [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                          </td>

                          <td class="padding-both-side-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <input matInput name="itemCode{{i}}" [(ngModel)]="obj.itemCode"
                                [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                          </td>

                          <td class="padding-both-side-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <input matInput name="vendorItemCode{{i}}" [(ngModel)]="obj.vendorItemCode"
                                [ngModelOptions]="{standalone: true}">

                            </mat-form-field>
                          </td>
                          <td class="padding-both-side-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">

                              <input matInput name="vendorminimumQty{{i}}" [(ngModel)]="obj.vendorminimumQty"
                                [ngModelOptions]="{standalone: true}">

                            </mat-form-field>
                          </td>

                          <td class="padding-both-side-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">

                              <mat-label>Select</mat-label>
                              <mat-select name="vendorUom{{i}}" [(ngModel)]="obj.vendorUom"
                                [ngModelOptions]="{standalone: true}">
                                <mat-option [value]="'bkt'">
                               bkt
                                </mat-option>

                              </mat-select>
                            </mat-form-field>
                          </td>

                          <td class="padding-both-side-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <input matInput name="deliveryLeadTime{{i}}" [(ngModel)]="obj.deliveryLeadTime"
                                [ngModelOptions]="{standalone: true}">
                              <mat-label style="margin-left: 187px; margin-top : -26px;">days</mat-label>
                            </mat-form-field>
                          </td>


                          <td class="padding-both-side-2">
                            <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                              <mat-label>Select</mat-label>
                              <mat-select name="pricingType{{i}}" [(ngModel)]="obj.pricingType"
                                [ngModelOptions]="{standalone: true}">
                                <mat-option [value]="'1'">
                                  Introduction / Presentation
                                </mat-option>

                              </mat-select>
                            </mat-form-field>
                          </td>

                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="row">
                    <div>

                      <button mat-mini-fab color="warn" (click)="removeRow(-1)">
                        <mat-icon class="col-white">delete</mat-icon>
                      </button>&nbsp;
                      <button mat-mini-fab color="primary" (click)="addRow()">
                        <mat-icon class="col-white">add</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Inventory">
                  <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 ">
                      <mat-form-field style="margin: 10px 10px;" class="example-full-width form-control-sm" appearance="outline">
                     
                        <mat-label>Inventory Valuation</mat-label>
                        
                        <mat-select formControlName="inventoryValuation" required>
                          <mat-option [value]="'1'">
                            FIFO
                          </mat-option>
                          <mat-option [value]="'2'">
                            LIFO
                          </mat-option>
                          <mat-option [value]="'3'">
                            WEIGHTED AVERAGE
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 ">
                      <mat-form-field style="margin: 10px 10px;" class="example-full-width form-control-sm" appearance="outline">
                        <mat-label>Issue Method</mat-label>
                        <mat-select formControlName="issueMethod" required>
                          <mat-option [value]="'1'">
                            FIFO
                          </mat-option>
                          <mat-option [value]="'2'">
                            LIFO
                          </mat-option>
                        </mat-select>

                      </mat-form-field>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="GRN Attribute">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                      <mat-checkbox style="margin: 10px 10px;" formControlName="batchNo" ngInit="checked=true">Batch No</mat-checkbox>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                      <mat-checkbox  style="margin: 10px 10px;" formControlName="mrp" ngInit="checked=true">MRP</mat-checkbox>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                      <mat-checkbox  style="margin: 10px 10px;" formControlName="expiryDate" ngInit="checked=true">Expiry Date</mat-checkbox>
                    </div>
                   
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                      <mat-checkbox  style="margin: 10px 10px;" formControlName="manufactureDetails" ngInit="checked=true">Manufacture Details</mat-checkbox>
                    </div>
                    <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                      <mat-checkbox style="margin: 10px 10px;" formControlName="batchNo" ngInit="checked=true">Batch No</mat-checkbox>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                      <mat-checkbox style="margin: 10px 10px;" formControlName="expiryDate" ngInit="checked=true">Expiry Date</mat-checkbox>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                      <mat-checkbox style="margin: 10px 10px;" formControlName="mrp" ngInit="checked=true">MRP</mat-checkbox>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                      <mat-checkbox style="margin: 10px 10px;" formControlName="manufactureDetails" ngInit="checked=true">Manufacture Details</mat-checkbox>
                    </div> -->
                  </div>
                </mat-tab>

              </mat-tab-group>


              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button *ngIf="!edit" (click)="onSubmit()" class="btn-space" mat-raised-button color="accent"
                    style="margin-left: 36%;background-color: #34d034;">Submit</button>
                  <button *ngIf="edit" (click)="update()" class="btn-space" mat-raised-button color="accent"
                    style="margin-left: 36%;background-color: #34d034;">Update</button>
                  <button color="primary" type="button" class="btn-space" (click)="reset()"
                    mat-raised-button>Reset</button>
                  <button color="warn" type="button" (click)="onCancel()" mat-raised-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>