<section class="content">
    <div class="content-block">
      <div class="block-header" style="margin-top: 48px;">
        <!-- breadcrumb -->
        <!-- <app-breadcrumb [title]="'Dashboad'" [items]="['Home']" [active_item]="'Dashboad'"></app-breadcrumb> -->
         <!-- <app-breadcrumb></app-breadcrumb>  -->
      </div>
      <div class="row ">
        <div class="col-xl-12 ">
          <div class="card" style="background: #ebebeb55;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
          -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);">
            <div class="row">
              <h2 style="text-align: center;color:#225f75;padding-top: 30px;padding-left: 8%;padding-bottom: 8%;">Route Details</h2>
              <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12"style="padding-left: 15%;padding-top: 4%;">
                <img src="assets/images/products/redpin.gif" alt="" style="width: 45px;">
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="padding-top: 50px;padding-right: 0px;"> 
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Origin</mat-label>
                      <mat-select formControlName="purchaseMethod" required>
                        <mat-option [value]="'1'">
                          General
                        </mat-option>
                        <mat-option [value]="'2'">
                          Rate Contract
                        </mat-option>
                        <mat-option [value]="'3'">
                          Consignment
                        </mat-option>
                       </mat-select>
                    </mat-form-field>
                  
              </div>
              <div class="wavy col-xl-1 col-lg-1 col-md-5 col-sm-5" style="padding-left: 0%;margin-top: -11px;padding-bottom: 10%;">
                <img src="assets/images/icons/wave.png" alt="" style="width: 150;">
            </div> 
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12"style="padding-left: 15%;padding-top: 4%;z-index: 6;">
              <img src="assets/images/products/bluepin.gif" alt="" style="width: 45px;">
            </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="padding-top: 50px;"> 
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Destination</mat-label>
                      <mat-select formControlName="purchaseMethod" required>
                        <mat-option [value]="'1'">
                          General
                        </mat-option>
                        <mat-option [value]="'2'">
                          Rate Contract
                        </mat-option>
                        <mat-option [value]="'3'">
                          Consignment
                        </mat-option>
                       </mat-select>
                    </mat-form-field>
                 
              </div>
            </div>  
            <div class="row"> 
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                <button   class="btn-space" (click)="originDestination()" mat-raised-button
                color="primary" style="float: right;">Next</button>
                
                 </div>
            </div>
            <div class="row">
             
            <div class="col-md-1" style="padding-left: 2%;padding-bottom: 1%;">
              <button mat-mini-fab color="primary" (click)="back()">
                <mat-icon class="col-white">arrow_back_ios</mat-icon>
              </button>
            </div> 
            <div class="col-md-1" >
              <button mat-mini-fab color="primary" (click)="originDestination()">
                <mat-icon class="col-white">arrow_forward_ios</mat-icon>
              </button>
            </div> </div>  
          </div>
  
        </div>
      </div>
    </div>
  </section>