<section class="content">
    <div class="content-block mobile-v-p">
        <div class="block-header" style="margin-top: 50px;">
        </div>
        <form  [formGroup]="docForm"> 
        <div class="row" style="justify-content:space-evenly">
            <div class="col-xl-12 ">
                <div class="card" [ngStyle] = "{'margin-bottom':cardBottom}" style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
          -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding: 3%;">
                        <div class="row">
                            <h5><b>Personal Details</b> </h5>
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                    <mat-label><img src="assets/icons/Asset 42.png"
                                            style="width:20px;height:20px;font-weight: bold;">&nbsp;&nbsp;Name</mat-label>
                                    <input class="inputRadius"formControlName="name" matInput maxlength="50" required>
                                    <mat-error *ngIf="docForm.get('name').hasError('required')">
                                        Name is required
                                      </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                    <mat-label><img src="assets/icons/Asset 43.png"
                                            style="width:20px;height:20px">&nbsp;&nbsp;Contact Number</mat-label>
                                    <input class="inputRadius" matInput formControlName="contactNo" (keypress)="keyPressNumeric($event)" maxlength="15"required>
                                    <mat-error *ngIf="docForm.get('contactNo').hasError('required')">
                                        Contact Number is required
                                      </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                    <mat-label><img src="assets/icons/Asset 44.png"
                                            style="width:20px;height:15px">&nbsp;&nbsp;Email Id</mat-label>
                                    <input class="inputRadius" matInput formControlName="emailId" maxlength="255"required>
                                    <mat-error *ngIf="docForm.get('emailId').hasError('required')">
                                        Email Id is required
                                      </mat-error>
                                </mat-form-field>
                               
                            </div>
                        </div>
                        <div class="row">
                            <h5><b> Shipment Details</b></h5>
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12"></div>
                                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                                        <mat-label class="label"><b>Sea</b></mat-label>
                                        <mat-slide-toggle (change)="onChange($event)"></mat-slide-toggle>
                                        <mat-label class="label"><b>Air</b></mat-label>
                                    </div>
                                </div>
                                <div *ngIf = "!sea" class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12"></div>
                                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                                        <h5 class="label"><img src="assets/icons/fclBlue.png"
                                                style="width:20px;height:20px"> &nbsp;<b>Mode</b>
                                        </h5>
                                    </div>
                                </div>
                                <div *ngIf = "!sea" class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12"></div>
                                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                                        <mat-label>FCL</mat-label>&nbsp; <mat-slide-toggle></mat-slide-toggle>&nbsp;
                                        <mat-label>
                                            LCL</mat-label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                            <mat-label><img src="assets/icons/Asset 36.png"
                                                    style="width:15px;height:20px">&nbsp;&nbsp;Origin </mat-label>
                                                    <mat-select class="inputTxt" formControlName="origin"  required>
                                                        <mat-option *ngFor="let title of dropdownList" [value]="title.id" >
                                                          {{title.text}}
                                                          </mat-option>
                                                       </mat-select>
                                                       <mat-error *ngIf="docForm.get('origin').hasError('required')">
                                                        Origin is required
                                                      </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                            <mat-label><img src="assets/icons/Asset 37.png"
                                                    style="width:15px;height:20px">&nbsp;&nbsp;Destination</mat-label>
                                                    <mat-select class="inputTxt" formControlName="destination" required>
                                                        <mat-option *ngFor="let title of dropdownList" [value]="title.id" >
                                                          {{title.text}}
                                                          </mat-option>
                                                       </mat-select>
                                                       <mat-error *ngIf="docForm.get('destination').hasError('required')">
                                                        Destination is required
                                                      </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div *ngIf = "!sea" class="row">
                                    <!-- <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                        <mat-label>FCL</mat-label>&nbsp; <mat-slide-toggle></mat-slide-toggle>&nbsp;<mat-label>
                                            LCL</mat-label>
                                    </div>  -->
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                            <mat-label><img src="assets/icons/Asset 40.png"
                                                    style="width:15px;height:20px">&nbsp;&nbsp;Commodity</mat-label>
                                                    <mat-select class="inputTxt" formControlName="commodity" required>
                                                        <mat-option *ngFor="let title of commodity" [value]="title.commodityId" >
                                                          {{title.text}}
                                                          </mat-option>
                                                       </mat-select>
                                                       <mat-error *ngIf="docForm.get('commodity').hasError('required')">
                                                        Commodity is required
                                                      </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                            <mat-label>&nbsp;&nbsp;Cargo Readiness
                                            </mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="cargoReadiness"required>
                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                                <mat-icon matDatepickerToggleIcon>
                                                    <img src="assets/icons/cargoreadyblue.png" width="20px" height="20px">
                                                </mat-icon>
                                            </mat-datepicker-toggle>
                                             <mat-datepicker #picker></mat-datepicker> 
                                            <mat-error *ngIf="docForm.get('cargoReadiness').hasError('required')">
                                                Cargo Readiness is required
                                              </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                            <mat-label><img src="assets/icons/Asset 40.png"
                                                    style="width:15px;height:20px">&nbsp;&nbsp;Incoterms</mat-label>
                                                    <mat-select class="inputTxt" formControlName="incoterms" required>
                                                        <mat-option *ngFor="let title of incotermList" [value]="title.termid" >
                                                          {{title.text}}
                                                          </mat-option>
                                                       </mat-select>
                                                       <mat-error *ngIf="docForm.get('incoterms').hasError('required')">
                                                        Incoterms is required
                                                      </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf = "sea" class="col-xl-12 col-lg-12 col-md-12 col-sm-12"> 
                                <div class="row"> 
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                            <mat-label><img src="assets/icons/Asset 40.png"
                                                    style="width:15px;height:20px">&nbsp;&nbsp;Commodity</mat-label>
                                                    <mat-select class="inputTxt" formControlName="commodity" required>
                                                        <mat-option *ngFor="let title of commodity" [value]="title.commodityId" >
                                                          {{title.text}}
                                                          </mat-option>
                                                       </mat-select>
                                                       <mat-error *ngIf="docForm.get('commodity').hasError('required')">
                                                        Commodity is required
                                                      </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                            <mat-label>&nbsp;&nbsp;Cargo Readiness
                                            </mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="cargoReadiness"required>
                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                                <mat-icon matDatepickerToggleIcon>
                                                    <img src="assets/icons/cargoreadyblue.png" width="20px" height="20px">
                                                </mat-icon>
                                            </mat-datepicker-toggle>
                                             <mat-datepicker #picker></mat-datepicker> 
                                            <mat-error *ngIf="docForm.get('cargoReadiness').hasError('required')">
                                                Cargo Readiness is required
                                              </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                        <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                            <mat-label><img src="assets/icons/Asset 40.png"
                                                    style="width:15px;height:20px">&nbsp;&nbsp;Incoterms</mat-label>
                                                    <mat-select class="inputTxt" formControlName="incoterms" required>
                                                        <mat-option *ngFor="let title of incotermList" [value]="title.termid" >
                                                          {{title.text}}
                                                          </mat-option>
                                                       </mat-select>
                                                       <mat-error *ngIf="docForm.get('incoterms').hasError('required')">
                                                        Incoterms is required
                                                      </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <h5> <b>Shipment Specifications</b></h5>
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                    <mat-label>Number Of Units</mat-label>
                                    <input class="inputRadius" type="number" formControlName="numberOfUnits"(keypress)="keyPressNumeric($event)" matInput maxlength="">
                                </mat-form-field>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="toggleButton">
                                    <mat-button-toggle><input matInput maxlength=""formControlName="length"(keypress)="keyPressNumeric($event)" placeholder="Length">
                                    </mat-button-toggle>
                                    <mat-button-toggle><input matInput maxlength=""formControlName="width" (keypress)="keyPressNumeric($event)" placeholder="Width">
                                    </mat-button-toggle>
                                    <mat-button-toggle><input matInput maxlength=""formControlName="height" (keypress)="keyPressNumeric($event)" placeholder="Height">
                                    </mat-button-toggle>
                                    <mat-button-toggle style="background-color:#065C7A"><input formControlName="unit" matInput maxlength=""
                                            placeholder="Unit"></mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                                <!-- <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                    <mat-label>Weight</mat-label>
                                    <input class="inputRadius" matInput maxlength="">
                                </mat-form-field> -->
                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="toggleButton">
                                    <mat-button-toggle><input matInput maxlength=""formControlName="weight" (keypress)="keyPressNumeric($event)"placeholder="Weight">
                                    </mat-button-toggle>
                                    <mat-button-toggle style="background-color:#065C7A"><input matInput maxlength=""
                                            placeholder="Kgs"></mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12">

                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                                <mat-label> <b>Volume</b></mat-label>
                                <p> xxx xxx</p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                    <mat-label>Add Comments</mat-label>
                                    <input class="inputRadius" formControlName="comments"matInput maxlength="">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">

                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" [ngStyle]="{'margin-top':nextbutton,'padding-right': nxtbuttonright,'padding-bottom': nxtbuttonBot}">
                                <button class="btn-space" mat-raised-button color="primary"(click) = "onSubmit()" class="buttonCSS"
                                    style="float: right;">Submit</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</section>