<section class="content">
    <div class="content-block mobile-v-p">
      <div class="block-header" style="margin-top: 50px;">
        <!-- breadcrumb -->
        <!-- <app-breadcrumb [title]="'Dashboad'" [items]="['Home']" [active_item]="'Dashboad'"></app-breadcrumb> -->
        <!-- <app-breadcrumb [title]="'Dashboad'"></app-breadcrumb> -->
      </div>
      <div class="row" style="justify-content:space-evenly">
        <div class="col-xl-12 ">
          <div class="card" [ngStyle] ="{'margin-bottom' : cardBottom}" style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
          -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);">
            <div class="row"> 
              <h2 *ngIf="!mobileHeading" style="text-align: center;color:#065C7A;padding-top: 30px;font-size: 40px;font-weight: 700;">Welcome to the World of Digital Logistics Solution</h2>
              <h2 *ngIf="mobileHeading" style="text-align: center;color:#065C7A;padding-top: 30px;font-size: 20px;font-weight: 600;">Mode of Freight</h2>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" [ngStyle]="{'padding' : padding}">
                <div class="card" (click)="ocean('Sea');"> 
                  <div class="body"  style="background:#065C7A;border-radius: 25px;">
                    <div class="card-bnner" style="background:#065C7A;">
                      <div class="row"> 
                        <div class="col-lg-12 alignimg">
                          <img  src="assets/icons/Asset 62.png" alt="sea" height="70">
                          <h3 style="color:white;text-align: center;position: absolute;bottom: 25px;left: 36%;">
                            Ocean</h3> 
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" [ngStyle]="{'padding' : padding}">
                <div class="card" (click)="air('Air');"> 
                  <div class="body" style="background:#065C7A;padding-bottom: 0px;border-radius: 25px;">
                    <div class="card-bnner" style="background:#065C7A;">
                      <div class="row"> 
                        <div class="col-lg-12 alignimg">
                          <img src="assets/icons/Asset 61.png" alt="air" style="transform: rotate(-15deg);height:70px;width: 120px;">
                          <h3 style="color:white;text-align: center;position: absolute;bottom: 25px;left: 45%;">
                            Air</h3> 
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
             
          </div>
  
        </div>
      </div>
    </div>
  </section>