<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="''" [items]="['Home']" [active_item]="'Dashboad'"></app-breadcrumb>
    </div>
    

    <!-- <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="header">
            <h2>Invoices</h2>
            <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Action</button>
              <button mat-menu-item>Another action</button>
              <button mat-menu-item>Something else here</button>
            </mat-menu>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th>Invoice No</th>
                    <th>Client Name</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Total </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a [routerLink]="['/admin/accounts/invoice']"> #IN7865 </a></td>
                    <td><img src="assets/images/user/user1.jpg" alt="" class="user_img">John Doe</td>
                    <td>12/05/2016 </td>
                    <td>
                      <div class="badge badge-solid-green">Paid</div>
                    </td>
                    <td>
                      $500
                    </td>
                  </tr>
                  <tr>
                    <td><a [routerLink]="['/admin/accounts/invoice']"> #IN2301 </a></td>
                    <td><img src="assets/images/user/user2.jpg" alt="" class="user_img">Sarah Smith</td>
                    <td>31/03/2016 </td>
                    <td>
                      <div class="badge badge-solid-red">Unpaid</div>
                    </td>
                    <td>
                      $372
                    </td>
                  </tr>
                  <tr>
                    <td><a [routerLink]="['/admin/accounts/invoice']"> #IN7239 </a></td>
                    <td><img src="assets/images/user/user3.jpg" alt="" class="user_img">Airi Satou</td>
                    <td>14/04/2017 </td>
                    <td>
                      <div class="badge badge-solid-orange">Partially Paid</div>
                    </td>
                    <td>
                      $1038
                    </td>
                  </tr>
                  <tr>
                    <td><a [routerLink]="['/admin/accounts/invoice']"> #IN1482 </a></td>
                    <td><img src="assets/images/user/user4.jpg" alt="" class="user_img">Angelica Ramos</td>
                    <td>11/08/2017 </td>
                    <td>
                      <div class="badge badge-solid-green">Paid</div>
                    </td>
                    <td>
                      $872
                    </td>
                  </tr>
                  <tr>
                    <td><a [routerLink]="['/admin/accounts/invoice']"> #IN8526 </a></td>
                    <td><img src="assets/images/user/user5.jpg" alt="" class="user_img">Ashton Cox</td>
                    <td>15/02/2018 </td>
                    <td>
                      <div class="badge badge-solid-red">Unpaid</div>
                    </td>
                    <td>
                      $2398
                    </td>
                  </tr>
                  <tr>
                    <td><a [routerLink]="['/admin/accounts/invoice']"> #IN2473 </a></td>
                    <td><img src="assets/images/user/user6.jpg" alt="" class="user_img">Cara Stevens</td>
                    <td>28/01/2017 </td>
                    <td>
                      <div class="badge badge-solid-green">Paid</div>
                    </td>
                    <td>
                      $834
                    </td>
                  </tr>
                  <tr>
                    <td><a [routerLink]="['/admin/accounts/invoice']"> #IN7366 </a></td>
                    <td><img src="assets/images/user/user7.jpg" alt="" class="user_img">Jacob Ryan</td>
                    <td>11/03/2017 </td>
                    <td>
                      <div class="badge badge-solid-orange">Partially Paid</div>
                    </td>
                    <td>
                      $147
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="float-start">
              <h6 class="text-muted">Average Daily Bill</h6>
              <h5>129 Dollar <span class="text-muted font-12">(Average)</span></h5>
            </div>
            <div class="mb-5">
              <apx-chart [series]="performanceRateChartOptions.series" [chart]="performanceRateChartOptions.chart"
                [xaxis]="performanceRateChartOptions.xaxis" [stroke]="performanceRateChartOptions.stroke"
                [colors]="performanceRateChartOptions.colors" [dataLabels]="performanceRateChartOptions.dataLabels"
                [legend]="performanceRateChartOptions.legend" [markers]="performanceRateChartOptions.markers"
                [grid]="performanceRateChartOptions.grid" [yaxis]="performanceRateChartOptions.yaxis"
                [tooltip]="performanceRateChartOptions.tooltip" [title]="performanceRateChartOptions.title"></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Client Survay</h2>
            <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Action</button>
              <button mat-menu-item>Another action</button>
              <button mat-menu-item>Something else here</button>
            </mat-menu>
          </div>
          <div class="body">
            <apx-chart [series]="areaChartOptions.series" [chart]="areaChartOptions.chart"
              [xaxis]="areaChartOptions.xaxis" [yaxis]="areaChartOptions.yaxis" [colors]="areaChartOptions.colors"
              [stroke]="areaChartOptions.stroke" [legend]="areaChartOptions.legend" [tooltip]="areaChartOptions.tooltip"
              [dataLabels]="areaChartOptions.dataLabels"></apx-chart>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Support Tickets Survay</h2>
            <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Action</button>
              <button mat-menu-item>Another action</button>
              <button mat-menu-item>Something else here</button>
            </mat-menu>
          </div>
          <div class="body">
            <apx-chart [series]="barChartOptions.series" [chart]="barChartOptions.chart"
              [dataLabels]="barChartOptions.dataLabels" [plotOptions]="barChartOptions.plotOptions"
              [responsive]="barChartOptions.responsive" [xaxis]="barChartOptions.xaxis"
              [tooltip]="barChartOptions.tooltip" [legend]="barChartOptions.legend" [fill]="barChartOptions.fill">
            </apx-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Return Memo</h2>
            <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Action</button>
              <button mat-menu-item>Another action</button>
              <button mat-menu-item>Something else here</button>
            </mat-menu>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table text-center">
                <thead>
                  <tr>
                    <th>Company</th>
                    <th>Return Memo Name</th>
                    <th>Return Memo No</th>
                    <th>Return Memo Date</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of dashboardList;">
                  <tr>
                    <td style="text-align: center;">{{item.companyName  !== null ? item.companyName:'-'}}</td>
                    <td style="text-align: center;">{{item.returnMemoNo !== null ? item.returnMemoNo:'-'}}</td>
                    <td style="text-align: center;">{{item.returnMemoName !== null ? item.returnMemoName:'-'}}</td>
                    <td style="text-align: center;">{{item.returnMemoDate !== null ? item.returnMemoDate:'-'}}</td>
                    <td style="text-align: center;">
                      <button  mat-icon-button color="accent" (click)="$event.stopPropagation()"
                      (click)='returnMemoItems(item)' class="tbl-action-btn">
                        <app-feather-icons [icon]="'log-in'" [class]="'tbl-fav-edit'" (click)="returnMemo(row)"></app-feather-icons>
                      </button>
                   </td>
                     
                        
                       
  
                  
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>