
<section class="content">
    <div class="content-block mobile-v-p">
      <div class="block-header" style="margin-top: 50px;">
        <!-- breadcrumb -->
        <!-- <app-breadcrumb [title]="'Dashboad'" [items]="['Home']" [active_item]="'Dashboad'"></app-breadcrumb> -->
         <!-- <app-breadcrumb></app-breadcrumb>  -->
      </div>



<div class="row">
    <div class="col-md-12">
        <img src="assets/icons/partypop.gif" width="20%" alt="" class="center" ><br>
        <h1 style="text-align:center;color:#065C7A">Congratulations ! </h1><br>
        <h4 style="text-align:center;color:#065C7A">Your Order Number " {{bookingNo}} " has been requested successfully.</h4>
        <p style="text-align:center;font-weight: bold;">You shall receive a call from our team within 24 Hours<br> to verify & process your booking further</p>  <br>
        <button   class="btn-space" mat-raised-button 
                    color="primary"  class="buttonCSS" >View Shipment</button>           

    </div>
</div>
</div>
</section>
