<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Add Sales Order'" [items]="['Marketing']" [active_item]="'Add Sales Order'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="box-shadow">
          <div class="card">
            <div class="body">
              <form class="m-4" [formGroup]="docForm"> 
                <div class="row">
                    <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12" style="margin-left: 50px;">
                      <mat-label><b></b></mat-label>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="margin-left: 10px;">
                      <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                        <mat-label>Sales Quote No</mat-label>
                        <mat-select formControlName="salesQuoteNo" (selectionChange)="fetchSalesQuoteDetails($event.value)">
                          <mat-option *ngFor="let title of salesOrderList" [value]="title.id">
                            {{title.text}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Customer</mat-label>
                      <mat-select formControlName="customer" >
                        <mat-option *ngFor="let title of customerList" [value]="title.id">
                          {{title.text}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Currency</mat-label>
                      <mat-select formControlName="currency" >
                        <mat-option *ngFor="let title of currencyList" [value]="title.id">
                          {{title.text}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12" style="margin-left: 50px;">
                      <mat-label><b></b></mat-label>
                  </div>
                  <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12" style="margin-left: 20px;">
                    <mat-label><b></b></mat-label>
                </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Terms & Conditions</mat-label>
                      <input matInput formControlName="termCondition">
                    </mat-form-field>
                  </div> 
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Expected Date Of Delivery</mat-label>
                      <input matInput [matDatepicker]="picker3" formControlName="expectedDate">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div> 
                <br><br>
               
  
                <!-- second detail Row -->
  
                <div style="overflow-x: auto;">
                  <table id="dt_basic"
                class="table table-striped font-weight-bold "
                   role="grid">
              <thead class="">
               <tr>
               <!-- <th class="width_1 table-heading text-center" style="margin-left: 25px;
               width: 11%; border-radius: 0.05rem;"><label
                 class="i-checks m-b-none"> <input type="checkbox"
                   ng-model="selectedAll"
                   ng-change="checkAllVendor()">
                   <i></i>
               </label></th> -->
               <th
                 class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                 width: 12%; border-radius: 0.05rem;">Item</th>
               <!-- <th
                 class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                 width: 12%; border-radius: 0.05rem;">UOM</th> -->
                 <th
                 class="text-center table-heading padding-both-side-2 width_7"  style="margin-left: 25px;
                 width: 12%;border-radius: 0.07rem;">Qty</th>
               <th
                 class="text-center table-heading padding-both-side-2 width_7"  style="margin-left: 25px;
                 width: 12%;border-radius: 0.07rem;">Price</th>
             </tr>
              </thead>
            <ng-container *ngFor="let salesOrderdtlBean of docForm.get('salesOrderdtlBean')['controls']; let i = index">
            <tbody [formGroup]="salesOrderdtlBean" > 
                <tr>
         
                <td class="padding-both-side-2" >
                         
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Item Name</mat-label>
                    
                    <mat-select name ="item{{i}}" formControlName="item">
                      <mat-option *ngFor="let title of itemList" [value]="title.id">
                        {{title.text}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  </td>
              
               <td class="padding-both-side-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-label>Qty</mat-label>
                  <input matInput name ="qty{{i}}" formControlName = "qty" (keypress)="keyPressPCB($event)">
              </mat-form-field>
                 </td>

              <td class="padding-both-side-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-label>Price</mat-label>
                  <input matInput name ="price{{i}}" formControlName = "price" (keypress)="keyPressPCB($event)">
              </mat-form-field>
              </td>
           </tr>
         </tbody>
        </ng-container>
         </table>
       </div>

         <div class="row">
           <div>                
            <button mat-mini-fab color="warn" (click)="removeRow1(-1)">
              <mat-icon class="col-white">delete</mat-icon>
            </button>&nbsp;
             <button mat-mini-fab color="primary" (click)="addRow1()">
               <mat-icon class="col-white">add</mat-icon>
             </button>
       </div>
        </div>
  
        <div class="row"> 
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
            <button *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
              color="primary" style="margin-left: 44%;">Submit</button>
              <button *ngIf="edit" (click) = "update()" class="btn-space" mat-raised-button
              color="primary" style="margin-left: 44%;">Update</button>
            <button color="warn" type="button" (click)="onCancel()" mat-raised-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  
  