
.container {
    display: flex;
    flex-direction: column;
    width: 167%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto; 
  }
  
  
  .spacer {
    flex: 1 1 auto;
  }
  
  
  .form {
    min-height: 56px;
    max-height: 56px;
    display: flex;
    align-items: center;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
  }
  
  .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-top: 8px;
  }
  
 
  .no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 14px;
    font-style: italic;
  }
  
  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1){
    flex: -1 0 6%;
  }
  
  .mat-cell:nth-child(2),
  .mat-header-cell:nth-child(2){
    flex: -1 0 6%;
  }
  
  .mat-cell:nth-child(3),
  .mat-header-cell:nth-child(3){
    flex: -1 0 6%;
  }
  
  .mat-cell:nth-child(7),
  .mat-header-cell:nth-child(7){
    flex: -1 0 6%;
  }
  .mat-icon-button:nth-child(2){
    color:#e91f11;;
} 
.mat-icon-button:nth-child(1) {
  color: #00963e;
}
.mat-icon-button:nth-child(3) {
  color: #095efc;
}
.mat-header-cell ,.mat-header-cell:nth-child(1){
  background: #607d8b47;
}

.mat-toolbar.mat-primary {
  background: #03a9f4;
  color: white;
}
.mat-raised-button:nth-child(1){
  color: rgba(252, 246, 246, 0.87);
  background-color: rgb(33 126 10 / 75%);
}
.mat-raised-button:nth-child(2){
  color: rgba(250, 248, 248, 0.87);
  background-color: rgb(140 86 226 / 65%);
}

.mat-raised-button:nth-child(3){
  color: rgba(253, 250, 250, 0.87);
  background-color: rgb(3 169 244);
}
.mat-header-cell {
  color: rgb(0 0 0 / 98%);
}
.mat-header-cell {
  font-size: 15px;
  font-weight: 400;
}

@media print {
  button {
    display: none;
  }
}
.mat-row, .mat-header-row, .mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-color: rgba(2, 2, 2, 0.26);
}

.mat-paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  flex-wrap: wrap-reverse;
  width: 100%;
  background-color: rgb(0 0 0 / 6%);
}


@-webkit-keyframes autofill {
  0%,100% {
      color: #666;
      background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}


/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
