/* Structure */
.container {
    display: flex;
    flex-direction: column;
  }
  
  /* Toolbar */
  .spacer {
    flex: 1 1 auto;
  }
  
  /* Filter */
  .form {
    min-height: 56px;
    max-height: 56px;
    display: flex;
    align-items: center;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 5px solid transparent;
  }
  .table {
    border-collapse: collapse;
  }
  .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-top: 8px;
  }
  .mat-paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
    background-color: rgb(0 0 0 / 6%);
}
  /* Mat table */
  .no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 14px;
    font-style: italic;
  }
 
  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1){
    flex: -1 0 6%;
  }
  
  .mat-cell:nth-child(2),
  .mat-header-cell:nth-child(2){
    flex: -1 0 6%;
  }
  
  .mat-cell:nth-child(3),
  .mat-header-cell:nth-child(3){
    flex:-1 0 6%;
  }
  .mat-cell:nth-child(4),
  .mat-header-cell:nth-child(4){
    flex: -1 0 6%;
  }
  .mat-cell:nth-child(5),
  .mat-header-cell:nth-child(5){
    flex: 0 0 15%;
  }
  .mat-cell:nth-child(7),
  .mat-header-cell:nth-child(7){
    flex: -1 0 7%;
   
  }

.mat-icon-button:nth-child(1){
     color: #02ac43;
  }
  .mat-icon-button:nth-child(2){
    color: #f34c4c;
 }
 .mat-icon-button:nth-child(3){
  color: #6cb5f5;
}
.mat-sort-header ,
.mat-header-cell{

  color: rgb(0 0 0);
}
.mat-raised-button:nth-child(1){
  color: #eaf3f3;
  background-color: #09b154;
}
.mat-raised-button:nth-child(2){
 color: #f3eaea;
 background-color: #a85dee;

}
.mat-raised-button:nth-child(3){
color: #eaeff5;
background-color: #089ef5;

}
.mat-header-row {
  min-height: 56px;
  background-color: rgb(0 0 0 / 12%);
}
.mat-header-cell {
  font-size: 15px;
  font-weight: 400;
}
/* @media print {
  button {
    display: none;
  }
} */