.paragraph
      color: gray
      font-size:10px

a 
  color:#225f75
h2
 color:#225f75

.buttonCSS
  padding: 0px 24px
  font-size: 18px
  text-align: center
  cursor: pointer
  outline: none
  color: white
  background-color: #225F75
  border-radius: 25px
  width:120px

.separator 
  display: flex
  align-items: center
  text-align: center
  width: 120px

.separator::before,
.separator::after 
  content: ''
  flex: 1
  border-bottom: 1px solid #225f75


.separator:not(:empty)::before 
  margin-right: .25em


.separator:not(:empty)::after 
  margin-left: .25em

.card 
    background: #fff
    min-height: 50px
    position: relative
    margin-bottom: 53px
    border: 1px solid #f2f4f9
    border-radius: 25px !important
    box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%)
    -webkit-box-shadow: 0 0 10px 0 rgb(183 192 206 / 20%)

