<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<section class="content">
    <div class="content-block mobile-v-p">
        <div class="block-header" style="margin-top: 22px;">
            <!-- breadcrumb -->
            <!-- <app-breadcrumb [title]="'Dashboad'" [items]="['Home']" [active_item]="'Dashboad'"></app-breadcrumb> -->
            <!-- <app-breadcrumb></app-breadcrumb>  -->
        </div>
        <div class="row ">
            <div class="col-xl-12 ">

                <div class="card"
                    style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
             -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px;width: 100%;padding-left: 40px">

                    <div class="container-fluid  mt-3">

                    </div>
                    <div class="row">


                        <div class="col-sm-3 p-3">
                            <p class="paragraph">Origin</p><br>
                            <H6 style=" margin-top: -30px">{{origin}}</H6>
                        </div>
                        <div class="col-sm-3 p-3">
                            <p class="paragraph">Mode of Shipment</p><br>
                            <H6 style=" margin-top: -30px">{{freightMode}}-{{shipmentMode}}</H6>
                        </div>
                        <div class="col-sm-3 p-3">
                            <p class="paragraph">Cargo Readiness</p><br>
                            <H6 style=" margin-top: -30px">{{cargoReady.readiness}}</H6>
                        </div>
                        <div class="col-sm-3 p-3">
                            <p class="paragraph">Commodity</p><br>
                            <H6 style=" margin-top: -30px">{{commodityValues.commodity}}</H6>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-3 p-3">
                            <p class="paragraph">Destination</p><br>
                            <H6 style=" margin-top: -30px">{{destination}}</H6>
                        </div>
                        <div class="col-sm-3 p-3">
                            <p class="paragraph">Incoterms</p><br>
                            <H6 style=" margin-top: -30px">{{incoterm}}</H6>
                        </div>

                        <div class="col-sm-3 p-3">
                            <p class="paragraph">Load Type</p><br>
                            <H6 style=" margin-top: -30px">{{equipmentType}}</H6>
                        </div>

                        <div class="col-sm-3 p-3">
                            <a href="">Edit</a>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <h2>Rates (Results Found)</h2>
                </div>
                <div class="row" style="margin-top:20px">


                    <div class="col-sm-6 p-6">
                        <div class="card"
                            style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
            -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px;width: 100%;padding-left: 40px">

                            <div class="container-fluid  mt-6">
                                <div class="row">
                                    <div class="col-sm-3" style="margin-top:40px">
                                        <img src="assets/images/icons/logo-msc.svg" alt=""><br>
                                        <p>CY/CY/F13</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="wavy col-xl-9 col-lg-9 col-md-9 col-sm-9">
                                            <p style="color:rgb(165, 159, 159); margin: 10% 0% -4% 35%;"> 32 Days </p>
                                            <pre>  INNSA  <img src="assets/images/icons/wave.png" alt="" style="width: 115px;">AUMEL</pre>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Sailing Date</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">23 July 2022
                                                </p>
                                            </div>

                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Free Day</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">7 days</p>
                                            </div>
                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Cargo</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">FAK</p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">

                                            </div>

                                            <div class="col-sm-4 p-4 " style="margin-top: -35px;">
                                                <p class="paragraph">Cost per Unit</p><br>
                                                <p
                                                    style=" margin-top: -30px;color:black;font-size:12px;font-weight: bold;">
                                                    USD 4,797</p>
                                            </div>
                                            <div class="col-sm-4 p-4" style="margin-top: -35px;">
                                                <p class="paragraph">Total cost</p><br>
                                                <p
                                                    style=" margin-top: -30px;color:black;font-size:12px;font-weight: bold;">
                                                    USD 4,797</p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">

                                            </div>

                                            <div class="col-sm-4 p-4 " style="margin-top: -35px;">

                                            </div>
                                            <div class="col-sm-4 p-4" style="margin-top: -20px;">
                                                <button class="btn-space" mat-raised-button (click)="rateSummary()"
                                                    color="primary" class="buttonCSS"
                                                    style="float: right;">Select</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 p-6">
                        <div class="card"
                            style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
            -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px;width: 100%;padding-left: 40px">

                            <div class="container-fluid  mt-6">
                                <div class="row">
                                    <div class="col-sm-3" style="margin-top:40px">
                                        <img src="assets/images/icons/logo-msc.svg" alt=""><br>
                                        <p>CY/CY/F13</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="wavy col-xl-9 col-lg-9 col-md-9 col-sm-9">
                                            <p style="color:rgb(165, 159, 159); margin: 10% 0% -4% 35%;"> 32 Days </p>
                                            <pre>  INNSA  <img src="assets/images/icons/wave.png" alt="" style="width: 115px;">AUMEL</pre>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Sailing Date</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">23 July 2022
                                                </p>
                                            </div>

                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Free Day</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">7 days</p>
                                            </div>
                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Cargo</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">FAK</p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">

                                            </div>

                                            <div class="col-sm-4 p-4 " style="margin-top: -35px;">
                                                <p class="paragraph">Cost per Unit</p><br>
                                                <p
                                                    style=" margin-top: -30px;color:black;font-size:12px;font-weight: bold;">
                                                    USD 4,797</p>
                                            </div>
                                            <div class="col-sm-4 p-4" style="margin-top: -35px;">
                                                <p class="paragraph">Total cost</p><br>
                                                <p
                                                    style=" margin-top: -30px;color:black;font-size:12px;font-weight: bold;">
                                                    USD 4,797</p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">

                                            </div>

                                            <div class="col-sm-4 p-4 " style="margin-top: -35px;">

                                            </div>
                                            <div class="col-sm-4 p-4" style="margin-top: -20px;">
                                                <button class="btn-space" mat-raised-button color="primary"
                                                    class="buttonCSS" style="float: right;">Select</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px">


                    <div class="col-sm-6 p-6">
                        <div class="card"
                            style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
            -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px;width: 100%;padding-left: 40px">

                            <div class="container-fluid  mt-6">
                                <div class="row">
                                    <div class="col-sm-3" style="margin-top:40px">
                                        <img src="assets/images/icons/logo-msc.svg" alt=""><br>
                                        <p>CY/CY/F13</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="wavy col-xl-9 col-lg-9 col-md-9 col-sm-9">
                                            <p style="color:rgb(165, 159, 159); margin: 10% 0% -4% 35%;"> 32 Days </p>
                                            <pre>  INNSA  <img src="assets/images/icons/wave.png" alt="" style="width: 115px;">AUMEL</pre>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Sailing Date</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">23 July 2022
                                                </p>
                                            </div>

                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Free Day</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">7 days</p>
                                            </div>
                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Cargo</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">FAK</p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">

                                            </div>

                                            <div class="col-sm-4 p-4 " style="margin-top: -35px;">
                                                <p class="paragraph">Cost per Unit</p><br>
                                                <p
                                                    style=" margin-top: -30px;color:black;font-size:12px;font-weight: bold;">
                                                    USD 4,797</p>
                                            </div>
                                            <div class="col-sm-4 p-4" style="margin-top: -35px;">
                                                <p class="paragraph">Total cost</p><br>
                                                <p
                                                    style=" margin-top: -30px;color:black;font-size:12px;font-weight: bold;">
                                                    USD 4,797</p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">

                                            </div>

                                            <div class="col-sm-4 p-4 " style="margin-top: -35px;">

                                            </div>
                                            <div class="col-sm-4 p-4" style="margin-top: -20px;">
                                                <button class="btn-space" mat-raised-button color="primary"
                                                    class="buttonCSS" style="float: right;">Select</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 p-6">
                        <div class="card"
                            style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
            -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px;width: 100%;padding-left: 40px">

                            <div class="container-fluid  mt-6">
                                <div class="row">
                                    <div class="col-sm-3" style="margin-top:40px">
                                        <img src="assets/images/icons/logo-msc.svg" alt=""><br>
                                        <p>CY/CY/F13</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="wavy col-xl-9 col-lg-9 col-md-9 col-sm-9">
                                            <p style="color:rgb(165, 159, 159); margin: 10% 0% -4% 35%;"> 32 Days </p>
                                            <pre>  INNSA  <img src="assets/images/icons/wave.png" alt="" style="width: 115px;">AUMEL</pre>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Sailing Date</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">23 July 2022
                                                </p>
                                            </div>

                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Free Day</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">7 days</p>
                                            </div>
                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Cargo</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">FAK</p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">

                                            </div>

                                            <div class="col-sm-4 p-4 " style="margin-top: -35px;">
                                                <p class="paragraph">Cost per Unit</p><br>
                                                <p
                                                    style=" margin-top: -30px;color:black;font-size:12px;font-weight: bold;">
                                                    USD 4,797</p>
                                            </div>
                                            <div class="col-sm-4 p-4" style="margin-top: -35px;">
                                                <p class="paragraph">Total cost</p><br>
                                                <p
                                                    style=" margin-top: -30px;color:black;font-size:12px;font-weight: bold;">
                                                    USD 4,797</p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">

                                            </div>

                                            <div class="col-sm-4 p-4 " style="margin-top: -35px;">

                                            </div>
                                            <div class="col-sm-4 p-4" style="margin-top: -20px;">
                                                <button class="btn-space" mat-raised-button color="primary"
                                                    class="buttonCSS" style="float: right;">Select</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <button class="btn-space" mat-raised-button color="primary" class="buttonCSS" style="float: right;"
            (click)="rateSummary()">Next</button>


    </div>
</section>