<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<section class="content">
    <div class="content-block mobile-v-p">
        <div class="block-header" style="margin-top: 50px;">
            <!-- breadcrumb -->
            <!-- <app-breadcrumb [title]="'Dashboad'" [items]="['Home']" [active_item]="'Dashboad'"></app-breadcrumb> -->
            <!-- <app-breadcrumb></app-breadcrumb>  -->
        </div>
        <div class="row ">
            <div class="col-xl-12 ">

                <div class="card"
                    style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
             -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px;width: 100%;padding-left: 40px">

                    <div class="container-fluid  mt-3">

                    </div>
                    <div class="row">


                        <div class="col-sm-3 p-3">
                            <mat-label>  <img src="assets/icons/seaOrigin.png" style="width:20px;height:15px">&nbsp;
                                <p>Origin</p> </mat-label><br><br>
                            <H6 style=" margin-top: -30px">{{origin}}</H6>
                        </div>
                        <div class="col-sm-3 p-3">
                            <mat-label>  <img src="assets/icons/ship.png" style="width:20px;height:15px">&nbsp;
                                <p>Mode of Shipment</p> </mat-label><br><br>
                            
                            <H6 style=" margin-top: -30px">{{freightMode}} - {{shipmentMode}}</H6>
                        </div>
                        <div class="col-sm-3 p-3">
                            <mat-label>  <img src="assets/icons/cargo.png" style="width:20px;height:15px">&nbsp;
                                <p>Cargo Readiness</p> </mat-label><br><br>
                           
                            <!-- <H6 style=" margin-top: -30px">{{cargoReady.selectedDate}}</H6> -->
                            <H6 style=" margin-top: -30px">{{cargoReady.selectedDate}}</H6>
                        </div>
                        <div class="col-sm-3 p-3">
                            <mat-label>  <img src="assets/icons/commodity.png" style="width:20px;height:15px">&nbsp;
                                <p>Commodity</p> </mat-label><br><br>
                            
                            <H6 style=" margin-top: -30px">{{commodityValues.commodity}}</H6>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-3 p-3">
                            <mat-label>  <img src="assets/icons/seaDestination.png" style="width:20px;height:15px">&nbsp;
                                <p>Destination</p> </mat-label><br><br>
                            
                            <H6 style=" margin-top: -30px">{{destination}}</H6>
                        </div>
                        <div class="col-sm-3 p-3">
                            <mat-label>  <img src="assets/icons/incoterms.png" style="width:20px;height:15px">&nbsp;
                                <p>Incoterms</p> </mat-label><br><br>
                           
                            <H6 style=" margin-top: -30px">{{incoterm}}</H6>
                        </div>

                        <div class="col-sm-3 p-3">
                            <mat-label>  <img src="assets/icons/loadtype.png" style="width:20px;height:15px">&nbsp;
                                <p>Load Type</p> </mat-label><br><br>
                            
                            <H6 style=" margin-top: -30px">{{equipName}}</H6>
                        </div>

                        <div class="col-sm-3 p-3">
                            <a href="">Edit</a>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <h2 style="margin-bottom: 2%;font-size: 24px;font-weight: 700;">Rates ( {{resultsFound}} Results Found)</h2>
                </div>
                <div class="row" style="margin-top:20px">
                 

                    <div *ngFor="let title of rateDataList" class="col-sm-6 p-6">
                      
                        <p style="background-color: #225F75;
                        color: white;position: absolute;border-radius: 4px 4px 0px 0px;padding-top: 4px;padding-bottom: 8px; text-align: center; margin-left: 2%;padding-left: 25px;  padding-right: 25px;margin-top: -25px; display: flex; ">
                        Spot Rate</p>
                        <div class="card"
                            style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
            -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px;width: 100%;padding-left: 40px">

                            <div  class="container-fluid  mt-6">
                                <div class="row">
                                    <div class="col-sm-3" style="margin-top:40px">
                                        <img src="assets/images/icons/logo-msc.svg" alt=""><br>
                                        <p>CY/CY/F13</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="wavy col-xl-9 col-lg-9 col-md-9 col-sm-9">
                                            <p style="color:rgb(165, 159, 159); margin: 10% 0% -4% 35%;"> 32 Days </p>
                                            <pre>  {{title.origin}}  <img src="assets/images/icons/wave.png" alt="" style="width: 115px;">{{title.destination}}</pre>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Sailing Date</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">23 July 2022
                                                </p>
                                            </div>

                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Free Day</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">7 days</p>
                                            </div>
                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Cargo</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">FAK</p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">

                                            </div>

                                            <div class="col-sm-4 p-4 " style="margin-top: -35px;">
                                                <p class="paragraph">Cost per Unit</p><br>
                                                <p
                                                    style=" margin-top: -30px;color:black;font-size:12px;font-weight: bold;">
                                                    USD {{title.rate | number: '2.'}}</p>
                                            </div>
                                            <div class="col-sm-4 p-4" style="margin-top: -35px;">
                                                <p class="paragraph">Total cost</p><br>
                                                <p
                                                    style=" margin-top: -30px;color:black;font-size:12px;font-weight: bold;">
                                                    USD {{title.totalcost | number: '2.'}}</p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">

                                            </div>

                                            <div class="col-sm-4 p-4 " style="margin-top: -35px;">

                                            </div>
                                            <div class="col-sm-4 p-4" style="margin-top: -20px;">
                                                <button class="btn-space" mat-raised-button (click)="rateSummary(title.detailid)"
                                                    color="primary" class="buttonCSS"
                                                    style="float: right;">Select</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6 p-6">
                        <div class="card"
                            style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
            -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px;width: 100%;padding-left: 40px">

                            <div class="container-fluid  mt-6">
                                <div class="row">
                                    <div class="col-sm-3" style="margin-top:40px">
                                        <img src="assets/images/icons/logo-msc.svg" alt=""><br>
                                        <p>CY/CY/F13</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="wavy col-xl-9 col-lg-9 col-md-9 col-sm-9">
                                            <p style="color:rgb(165, 159, 159); margin: 10% 0% -4% 35%;"> 32 Days </p>
                                            <pre>  INNSA  <img src="assets/images/icons/wave.png" alt="" style="width: 115px;">AUMEL</pre>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Sailing Date</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">23 July 2022
                                                </p>
                                            </div>

                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Free Day</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">7 days</p>
                                            </div>
                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Cargo</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">FAK</p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">

                                            </div>

                                            <div class="col-sm-4 p-4 " style="margin-top: -35px;">
                                                <p class="paragraph">Cost per Unit</p><br>
                                                <p
                                                    style=" margin-top: -30px;color:black;font-size:12px;font-weight: bold;">
                                                    USD 4,797</p>
                                            </div>
                                            <div class="col-sm-4 p-4" style="margin-top: -35px;">
                                                <p class="paragraph">Total cost</p><br>
                                                <p
                                                    style=" margin-top: -30px;color:black;font-size:12px;font-weight: bold;">
                                                    USD 4,797</p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">

                                            </div>

                                            <div class="col-sm-4 p-4 " style="margin-top: -35px;">

                                            </div>
                                            <div class="col-sm-4 p-4" style="margin-top: -20px;">
                                                <button class="btn-space" mat-raised-button color="primary"
                                                    class="buttonCSS" style="float: right;">Select</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- <div class="row" style="margin-top:20px">


                    <div class="col-sm-6 p-6">
                        <div class="card"
                            style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
            -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px;width: 100%;padding-left: 40px">

                            <div class="container-fluid  mt-6">
                                <div class="row">
                                    <div class="col-sm-3" style="margin-top:40px">
                                        <img src="assets/images/icons/logo-msc.svg" alt=""><br>
                                        <p>CY/CY/F13</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="wavy col-xl-9 col-lg-9 col-md-9 col-sm-9">
                                            <p style="color:rgb(165, 159, 159); margin: 10% 0% -4% 35%;"> 32 Days </p>
                                            <pre>  INNSA  <img src="assets/images/icons/wave.png" alt="" style="width: 115px;">AUMEL</pre>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Sailing Date</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">23 July 2022
                                                </p>
                                            </div>

                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Free Day</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">7 days</p>
                                            </div>
                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Cargo</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">FAK</p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">

                                            </div>

                                            <div class="col-sm-4 p-4 " style="margin-top: -35px;">
                                                <p class="paragraph">Cost per Unit</p><br>
                                                <p
                                                    style=" margin-top: -30px;color:black;font-size:12px;font-weight: bold;">
                                                    USD 4,797</p>
                                            </div>
                                            <div class="col-sm-4 p-4" style="margin-top: -35px;">
                                                <p class="paragraph">Total cost</p><br>
                                                <p
                                                    style=" margin-top: -30px;color:black;font-size:12px;font-weight: bold;">
                                                    USD 4,797</p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">

                                            </div>

                                            <div class="col-sm-4 p-4 " style="margin-top: -35px;">

                                            </div>
                                            <div class="col-sm-4 p-4" style="margin-top: -20px;">
                                                <button class="btn-space" mat-raised-button color="primary"
                                                    class="buttonCSS" style="float: right;">Select</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 p-6">
                        <div class="card"
                            style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
            -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px;width: 100%;padding-left: 40px">

                            <div class="container-fluid  mt-6">
                                <div class="row">
                                    <div class="col-sm-3" style="margin-top:40px">
                                        <img src="assets/images/icons/logo-msc.svg" alt=""><br>
                                        <p>CY/CY/F13</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="wavy col-xl-9 col-lg-9 col-md-9 col-sm-9">
                                            <p style="color:rgb(165, 159, 159); margin: 10% 0% -4% 35%;"> 32 Days </p>
                                            <pre>  INNSA  <img src="assets/images/icons/wave.png" alt="" style="width: 115px;">AUMEL</pre>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Sailing Date</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">23 July 2022
                                                </p>
                                            </div>

                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Free Day</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">7 days</p>
                                            </div>
                                            <div class="col-sm-4 p-4">
                                                <p class="paragraph">Cargo</p><br>
                                                <p style=" margin-top: -30px;color:black;font-size:12px">FAK</p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">

                                            </div>

                                            <div class="col-sm-4 p-4 " style="margin-top: -35px;">
                                                <p class="paragraph">Cost per Unit</p><br>
                                                <p
                                                    style=" margin-top: -30px;color:black;font-size:12px;font-weight: bold;">
                                                    USD 4,797</p>
                                            </div>
                                            <div class="col-sm-4 p-4" style="margin-top: -35px;">
                                                <p class="paragraph">Total cost</p><br>
                                                <p
                                                    style=" margin-top: -30px;color:black;font-size:12px;font-weight: bold;">
                                                    USD 4,797</p>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-4">

                                            </div>

                                            <div class="col-sm-4 p-4 " style="margin-top: -35px;">

                                            </div>
                                            <div class="col-sm-4 p-4" style="margin-top: -20px;">
                                                <button class="btn-space" mat-raised-button color="primary"
                                                    class="buttonCSS" style="float: right;">Select</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div> -->

            </div>

        </div>
        <!-- <button class="btn-space" mat-raised-button color="primary" class="buttonCSS" style="float: right;"
            (click)="rateSummary()">Next</button> -->


    </div>
</section>