<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<section class="content">
    <div class="content-block mobile-v-p">
        <div class="block-header" style="margin-top: 50px;">
            <!-- breadcrumb -->
            <!-- <app-breadcrumb [title]="'Dashboad'" [items]="['Home']" [active_item]="'Dashboad'"></app-breadcrumb> -->
            <!-- <app-breadcrumb></app-breadcrumb>  -->
        </div>
        <div class="row ">
            <div class="col-xl-12 ">

                <div class="card" [ngStyle] = "{'margin-bottom':cardBottom}"
                    style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
             -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px;width: 100%;padding-left: 40px">

                    <div class="container-fluid  mt-3">

                    </div>
                    <div class="row">
         
        
                        <div class="col-sm-3 p-3">
                          <mat-label><p style="margin-bottom: 0px;padding-left: 30px;font-size: 12px;color: #a6a6a6;">Origin</p></mat-label><br>
                          <mat-label><img src="assets/icons/seaOrigin.png" style="width:20px;height:15px"> &nbsp;&nbsp;{{origin}}</mat-label>
                      </div>
                      <div class="col-sm-3 p-3">
                          <mat-label><p style="margin-bottom: 0px;padding-left: 27px;font-size: 12px;color: #a6a6a6;">Mode of Shipment</p></mat-label><br>  
                          <mat-label>  <img src="assets/icons/ship.png" style="width:20px;height:15px">&nbsp;&nbsp;{{freightMode}} - {{shipmentMode}}</mat-label>
                      </div>
                      <div class="col-sm-3 p-3">
                          <mat-label><p style="margin-bottom: 0px;padding-left: 27px;font-size: 12px;color: #a6a6a6;">Cargo Readiness</p></mat-label><br>  
                           <mat-label><img src="assets/icons/cargo.png" style="width:20px;height:20px">&nbsp;&nbsp;{{cargoReady.selectedDate}}</mat-label>
                      </div>
                      <div class="col-sm-3 p-3">
                          <mat-label><p style="margin-bottom: 0px;padding-left: 27px;font-size: 12px;color: #a6a6a6;">Commodity</p></mat-label><br>  
                          <mat-label><img src="assets/icons/commodity.png" style="width:20px;height:15px">&nbsp;&nbsp;{{commodity}}</mat-label>
                      </div>
                         
                         
                       </div>
                       <div class="row">
                        <div class="col-sm-3 p-3">
                          <mat-label><p style="margin-bottom: 0px;padding-left: 27px;font-size: 12px;color: #a6a6a6;">Destination</p></mat-label><br>  
                          <mat-label><img src="assets/icons/seaDestination.png" style="width:20px;height:15px">&nbsp;&nbsp;{{destination}}</mat-label>
                      </div>
                      <div class="col-sm-3 p-3">
                          <mat-label><p style="margin-bottom: 0px;padding-left: 27px;font-size: 12px;color: #a6a6a6;">Incoterms</p></mat-label><br>  
                          <mat-label><img src="assets/icons/incoterms.png" style="width:20px;height:15px">&nbsp;&nbsp;{{incoterm}}</mat-label>
                      </div>
                
                      <div class="col-sm-3 p-3">
                          <mat-label><p style="margin-bottom: 0px;padding-left: 27px;font-size: 12px;color: #a6a6a6;">Load Type</p></mat-label><br>  
                          <mat-label><img src="assets/icons/loadtype.png" style="width:20px;height:15px">&nbsp;&nbsp;{{equipName}}</mat-label>
                      </div>
                
                      <div class="col-sm-3 p-3">
                          <a (click)="edit()">Edit</a>
                
                      </div>
                     
                   </div>
                </div>
                <div class="row">
                    <h2 style="margin-bottom: 2%;font-size: 24px;font-weight: 700;">Rates ( {{resultsFound}} Results Found)</h2>
                </div>
                <div class="row" style="margin-top:20px">
                 

                    <div *ngFor="let title of rateDataList" class="col-sm-6 p-6">
                      
                        <p style="background-color: #065C7A;
                        color: white;position: absolute;border-radius: 4px 4px 0px 0px;padding-top: 4px;padding-bottom: 8px; text-align: center; margin-left: 2%;padding-left: 25px;  padding-right: 25px;margin-top: -25px; display: flex; ">
                        Spot Rate</p>
                        <div class="card" [ngStyle] = "{'margin-bottom':cardBottom}"
                            style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
            -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px;width: 100%;padding-left: 10px">

                            <div  class="container-fluid  mt-6">
                                <div class="row">
                                    <div class="col-sm-2" style="margin-top:40px" [ngStyle] = "{'display':grid,'justify-content':justifyCenter}">
                                        <img src="assets/images/icons/logo-msc.svg" alt=""><br>
                                        <p>CY/CY/F13</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="row"> 
                                            <div class="col-md-11">
                                                <label style="color:rgb(165, 159, 159); margin: 10% 0% -4% 35%;"> 32 Days </label>
                                                <pre style="overflow-x: auto;">  {{title.origin}}  <img src="assets/images/icons/wave.png" alt="" style="width: 115px;">{{title.destination}}</pre>
                                            </div>
                                            <div *ngIf = "verticalLine" class="col-md-1"  style="border-right: 1px solid #065C7A;margin-top: 50px;" > 
                                                <div  class="vertical" > </div> 
                                              </div>
                                        </div>
                                        <div class="row" style="margin-top:-20px">
                                            <div class="col-sm-4 p-1" [ngStyle] = "{'text-align':center}">
                                                <label class="paragraph">Sailing Date</label><br>
                                                <label style=" margin-top: -30px;color:black;font-size:15px;white-space: nowrap;">23 July 2022
                                                </label>
                                            </div>

                                            <div class="col-sm-4 p-1" [ngStyle] = "{'text-align':center}">
                                                <label class="paragraph">Free Day</label><br>
                                                <label style=" margin-top: -30px;color:black;font-size:13px">7 days</label>
                                            </div>
                                            <div class="col-sm-4 p-1" [ngStyle] = "{'text-align':center,'border-right':border}">
                                                <label class="paragraph">Cargo</label><br>
                                                <label style=" margin-top: -30px;color:black;font-size:13px">FAK</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-3" [ngStyle] = "{'padding':padding}" >  
                                        <div class="col-md-4" style="white-space:nowrap;">  
                                                <label class="paragraph1">Cost per Unit</label><br>
                                                <label
                                                    style=" margin-top: -30px;color:black;font-size:16px;font-weight: 700;">
                                                    USD {{title.rate | number: '2.'}}</label> 
                                        </div>
    
                                        <div class="col-sm-4" style="white-space:nowrap;">
                                            <label class="paragraph1">Total cost</label><br>
                                            <label
                                                style=" margin-top: -30px;color:black;font-size:16px;font-weight: 700;">
                                                USD {{title.totalcost | number: '2.'}}</label>
                                        </div>
                                        <div class="col-sm-10" [ngStyle] = "{'margin-right':buttonRight,'margin-left':buttonLeft}" style="margin-top: 25px;">
                                            <button class="btn-space" mat-raised-button (click)="rateSummary(title.detailid)"
                                                color="primary" class="buttonCSS"
                                                style="float: right;">Select</button>
                                        </div>
                                    </div> 
                                </div>

                            </div>
                        </div>
                    </div>
                  
                </div>
               
            </div>

        </div>
        <!-- <button class="btn-space" mat-raised-button color="primary" class="buttonCSS" style="float: right;"
            (click)="rateSummary()">Next</button> -->


    </div>
</section>