
<section class="content">
    <div class="content-block mobile-v-p">
      <div class="block-header" style="margin-top: 50px;">
        <!-- breadcrumb -->
        <!-- <app-breadcrumb [title]="'Dashboad'" [items]="['Home']" [active_item]="'Dashboad'"></app-breadcrumb> -->
         <!-- <app-breadcrumb></app-breadcrumb>  -->
      </div>
      <div class="card" [ngStyle] = "{'margin-bottom':cardBottom}" style="background: #F8F9FA;box-shadow: -3px 5px 6px 3px rgba(148,148,148,0.5);
          -webkit-box-shadow: 0px 1px 14px 0px rgb(148 148 148 / 50%);border-radius: 25px;">
      <div class="container-fluid" >
        <form class="m-12" [formGroup]="docForm">
        <div class="row">
      <div class="col-sm-3 ">
                    
        <div class="col-xl-3 " [ngStyle] = "{'margin-top':firstbutton,'margin-left':butLeftmar}">
          <button class="sideButton " (click)="incoterms()" >
            <img src="assets/icons/incoterms.png" alt="icoterms" width="20" height="20"> Incoterms</button>
          </div>
          <div class="col-xl-3 " [ngStyle] = "{'margin-top':butTopmar,'margin-left':butLeftmar}">
            <button class="sideButton " (click)="commodity()">
              <img src="assets/icons/commodity.png" alt="icoterms" width="20" height="20"> Commodity</button>
            </div>
            <div class="col-xl-3 " [ngStyle] = "{'margin-top':butTopmar,'margin-left':butLeftmar}">
              <button class="sideButton " (click)="cargoReadiness()"style="background-color: #225F75!important;color:white;text-align: center;">
                <img src="assets/icons/cargoreadywhite.png" alt="icoterms" width="20" height="20"> Cargo Readiness</button>
              </div>
              <div class="col-xl-3 " [ngStyle] = "{'margin-top':butTopmar,'margin-left':butLeftmar}">
                <button class="sideButton " (click)="loadType()" >
                  <img src="assets/icons/loadtype.png" alt="icoterms" width="20" height="20"> Load Type</button>
                </div>
               
    </div>
    <div *ngIf="topback" (click)="commodity()" style="position: absolute;top: 35px;left: 15px;"> 
      <mat-icon class="blue">arrow_back_ios</mat-icon> 
    </div>
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9" [ngStyle] = "{'padding':cardpadding}" >
                      <h1 style="text-align:center;margin-top:20px;margin-bottom:20px;color:#225F75;font-weight:bold">Cargo Readiness</h1> 
                      <div class="card align-items-centerrd" [ngStyle] = "{'margin-bottom':cardBottom}" style="border-radius: 24px;width: 100%;height:80%;padding-top:32px;padding-right: 24px;padding-left:24px;"> 
                        <div class="row" style="margin-left: 55px;">
                            <div class="col-md-5"   > 
                              <input type="radio" required  name="readiness" (change)="radioClick('No')"  value="Ready"
                              formControlName="selectedDate" > <label for="readyToMove">Ready</label>
                              
                            </div> 
                            
                              <div class="col-md-2"  style="border-left: 1px solid #225F75" > 
                                <div  class="vertical" > </div> <!-- <div class="vertical">
                            
                             <mat-divider vertical style="height:100px"></mat-divider> 
                            </div> -->
                           </div>
                            <!-- <div class="vl"></div>  -->
                            <!-- <mat-divider [vertical]="true"></mat-divider> -->
                            <div class="col-md-5"  >
                               
                              <input type="radio"  required id="" name="readiness" (change)="radioClick('Yes')" value="calendar"
                              ><label for="calendar">Calendar</label>
                              
                              
                                <mat-card *ngIf="calendar" > 
                                  <mat-calendar
                                    [selected]="selectedDate"
                                    (selectedChange)="onSelect($event)"
                                  ></mat-calendar>
                                  
                                </mat-card>
                                
                             
                            
                            </div> 
                             
                              </div>
                             
                         
                            
                            
                            
                          </div>
                        
                    </div>
    </div>
    </form>
    </div>
    <div class="row">
             
                
      <div *ngIf="!topback" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6" style="padding-left: 2%;padding-bottom: 1%;margin-top: 33px;">
        <button mat-mini-fab color="primary" (click)="commodity()" >
          <mat-icon class="col-white" >arrow_back_ios</mat-icon>
        </button>
      </div> 
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6" [ngStyle]="{'margin-top':nextbutton,'padding-right': nxtbuttonright,'padding-bottom': nxtbuttonBot}">
          <button [ngStyle]="{'width':buttonwidth}"  class="btn-space" mat-raised-button (click)="loadType()"
          color="primary" class="buttonCSS" style="float: right;" >Next</button>
          
           </div>
      
      </div> 
    </div>
    
      </div>
      </section>