.sideButton 
  padding: 10px 10px
  font-size: 15px!important
  text-align: left
  cursor: pointer
  outline: none
  font-weight: 500
  color: black
  background-color: white
  border: 1px solid #808285
  border-radius: 24px
  width:180px
 





.demo-inline-calendar-card 
  width: 300px

.vl 
  border-left: 1px solid #065C7A
  height: 300px
  position: absolute
  left: 50%
  margin-left: -3px
  top: 20px
  bottom: 20px

.size-12 
  font-size: 12px
  width: 90px
  border-radius: 20px

.mat-form-field 
  width: 100%

.buttonCSS
  padding: 4px 24px
  font-size: 18px
  text-align: center
  cursor: pointer
  outline: none
  color: white
  background-color: #065C7A
  border-radius: 25px
  width:120px

table 
  border-collapse: collapse
  border-spacing: 0
  width: 100%
  table-layout: auto
  
  

th, td 
  text-align: center
  padding: 3px
  border-radius: 10px
  
  
#rcorners2 
  border-radius: 25px
  border: 1px solid #065C7A
  
::ng-deep.mat-form-field-infix 
    display: block
    position: relative
    flex: auto
    min-width: 0
    width: 110px!important


::ng-deep.mat-form-field-appearance-outline .mat-form-field-flex 
    margin-top: 0.75em
.button 
  padding: 10px 16px
  font-size: 16px!important
  text-align: left
  cursor: pointer
  outline: none
  font-weight: 500
  color: black
  background-color: white
  border: 1px solid #065C7A
  border-radius: 25px
  width:180px
 


.button:hover 
    background-color: #065C7A
    color: white

.button:focus 
  background-color: #065C7A
  
  transform: translateY(4px)
  color: white

.demo-inline-calendar-card 
  width: 300px

.vl 
  border-left: 1px solid #065C7A
  height: 300px
  position: absolute
  left: 50%
  margin-left: -3px
  top: 20px
  bottom: 20px

.size-12 
  font-size: 12px
  width: 90px
  border-radius: 20px

.mat-form-field 
  width: 100%

.buttonCSS
  padding: 4px 24px
  font-size: 18px
  text-align: center
  cursor: pointer
  outline: none
  color: white
  background-color: #065C7A
  border-radius: 25px
  width:120px

table 
  border-collapse: collapse
  border-spacing: 0
  width: 100%
  table-layout: auto
  
  

th, td 
  text-align: center
  padding: 3px
  border-radius: 10px
  
  
#rcorners2 
  border-radius: 25px
  border: 1px solid #065C7A
  
::ng-deep.mat-form-field-infix 
    display: block
    position: relative
    flex: auto
    min-width: 0
    width: 110px!important


::ng-deep.mat-form-field-appearance-outline .mat-form-field-flex 
    margin-top: 0.75em


.wrapper 
  overflow: auto
  border-radius: 15px
  border: 1px solid #065C7A
  padding-top: 10px
 
.vertical 
  height: 280px

@media screen and (max-width: 767px) 
  .vertical 
    
    border-left: none
    height: 1px
    transform: translateX(-50%)
    width: 500px
    display: none

::ng-deep.mat-calendar-arrow
  fill: rgb(255 255 255) !important
  

::ng-deep.mat-calendar-header
    padding: 6px 8px 0px 0px !important
    background: #065c7a !important
    border-radius: 30px !important
    color: white

:ng-deep.mat-calendar-controls
  margin: 0% calc(4.7142857143% - 16px)!important

    

::ng-deep.mat-calendar-body-selected
    background-color: #065c7a
    color: #fff
    

::ng-deep.mat-datepicker-toggle
 color: rgb(10 5 0 / 100%) !important
  

label > input[type="radio"] 
  display: none

 
label > input[type="radio"] + *::before 
  content: ""
  display: inline-block
  vertical-align: bottom
  width: 1rem
  height: 1rem
  margin-right: 0.3rem
  border-radius: 50%
  border-style: solid
  border-width: 0.1rem
  border-color: black
  checked-color:#065c7a
  margin-right: 9px
  margin-bottom: 3.5px

label > input[type="radio"]:checked + * 
  color: black

label > input[type="radio"]:checked + *::before 
  background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent)
  border-color: black


/* basic layout */
fieldset 
  margin: 20px
  max-width: 400px

label > input[type="radio"] + * 
  display: inline-block
  padding: 0.5rem 1rem






