.userProfile{
    position: absolute;
    top: 70%;
    left: 10px;
}
 
.navbar1 {
    overflow: hidden;
    background-color: #F8F9FA;
    position: fixed;
    z-index: 99999;
    bottom: 0;
    width: 100%;
  }
  
  .navbar1 a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar1 a:hover {
    background: #f1f1f1;
    color: black;
  }
  
  .navbar1 a.active {
    background-color: #04AA6D;
    color: white;
  }

  :host ::ng-deep ul {
    margin-top: 0;
    margin-bottom: 0rem;
    padding-left: 0rem;
}

:host ::ng-deep a {
  color: #000000;
  position: relative;
  font-size: 14px;
  display: block;
  overflow: hidden;
  line-height: 2rem;
  padding: 9px 9px 9px 20px;
  margin: 25px 0px 0px 0px !important;

  &:hover,
  &:active {
    text-decoration: none !important;
    background-color: #f0f3fb;
  }

  small {
    position: absolute;
    top: calc(50% - 7.5px);
    right: 15px;
  }

  span {
    margin: 7px 0 7px 7px;
    color: #333;
    // font-weight: bold;
    font-size: 14px;
    overflow: hidden;
  }
}