<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Add Sales Call Entry'" [items]="['CRM']" [active_item]="'Add Sales Call Entry'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="box-shadow">
          <div class="card">
            <div class="body">
              <form class="m-4" [formGroup]="docForm">
                <div class="row">
                  <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12" style="margin-left: 50px;">
                    <mat-label><b></b></mat-label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Customer</mat-label>
                      <mat-select formControlName="customer" >
                        <mat-option *ngFor="let title of customerList" [value]="title.id" required>
                          {{title.text}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Customer Type</mat-label>
                      <input matInput formControlName="customerType" required>
                      <mat-error *ngIf="docForm.get('customerType').hasError('required')">
                        Customer Type Code is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Type of Call</mat-label>
                      <input matInput formControlName="typeOfCall" required>
                      <mat-error *ngIf="docForm.get('typeOfCall').hasError('required')">
                        Type of Call is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12" style="margin-left: 50px;">
                      <mat-label><b></b></mat-label>
                    </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Person Met</mat-label>
                      <input matInput formControlName="personMet">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Assign To</mat-label>
                      <input matInput formControlName="assignTo">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Email ID</mat-label>
                      <input matInput formControlName="emailId">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12" style="margin-left: 50px;">
                      <mat-label><b></b></mat-label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Mode of Contact</mat-label>
                      <input matInput formControlName="modeOfContact">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Designation</mat-label>
                      <input matInput formControlName="designation">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Visit Date</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="visitDate">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div> 
                <br><br>
                <!-- first detail row -->
                <div style="overflow-x: auto;">
                  <table id="dt_basic"
                class="table table-striped font-weight-bold "
                   role="grid">
              <thead class="">
               <tr>
               <th class="width_1 table-heading text-center" style="margin-left: 25px;
               width: 11%; border-radius: 0.05rem;"><label
                 class="i-checks m-b-none"> <input type="checkbox"
                   ng-model="selectedAll"
                   ng-change="checkAllVendor()">
                   <i></i>
               </label></th>
               <th
                 class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                 width: 12%; border-radius: 0.05rem;">Objective</th>
               <th
                 class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                 width: 12%; border-radius: 0.05rem;">Commodity</th>
                 <th
                 class="text-center table-heading padding-both-side-2 width_7"  style="margin-left: 25px;
                 width: 12%;border-radius: 0.07rem;">Date</th>
               <th
                 class="text-center table-heading padding-both-side-2 width_7"  style="margin-left: 25px;
                 width: 12%;border-radius: 0.07rem;">Status</th>
               <th
                 class="text-center table-heading padding-both-side-2 width_7"  style="margin-left: 25px;
                 width: 12%;border-radius: 0.07rem;">Next Call Date</th>
               <th
                 class="text-center table-heading padding-both-side-2 width_7"  style="margin-left: 25px;
                 width: 12%;border-radius: 0.07rem;">Conditions for Support</th>
               <th
               class="text-center table-heading padding-both-side-2 width_7"  style="margin-left: 25px;
               width: 12%;border-radius: 0.07rem;">Reasons for Supporting</th>
               <th
               class="text-center table-heading padding-both-side-2 width_7"  style="margin-left: 25px;
               width: 12%;border-radius: 0.07rem;">Reasons for Not Supporting</th>
               <th
               class="text-center table-heading padding-both-side-2 width_7"  style="margin-left: 25px;
               width: 12%;border-radius: 0.07rem;">Remarks</th>
               
             </tr>
              </thead>
            <tbody  *ngFor ="let obj of dataarray; let i=index"> 
                <tr>
                <td class=" text-center">
                 <label
                 class="i-checks m-b-none"> <input type="checkbox"
                 ng-model="row.tableId"> 
                </label></td>

                <td class="padding-both-side-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Objective</mat-label>
                    <mat-select name ="objective{{i}}" [(ngModel)] = "obj.objective" [ngModelOptions]="{standalone: true}">
                      <mat-option [value]="'1'">
                        Introduction / Presentation
                      </mat-option>
                      <mat-option [value]="'2'">
                        Service Requirement
                      </mat-option>
                      <mat-option [value]="'3'">
                        Offer Rates
                      </mat-option>
                      <mat-option [value]="'4'">
                        Negotiations
                      </mat-option>
                      <mat-option [value]="'5'">
                        Collection Follow up
                      </mat-option>
                      <mat-option [value]="'6'">
                        Courtesy call
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                 </td>
              
                <td class="padding-both-side-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Commodity</mat-label>
                    <mat-select name ="commodity{{i}}" [(ngModel)] = "obj.commodity" [ngModelOptions]="{standalone: true}">
                      <mat-option [value]="'1'">
                        Empty
                      </mat-option>
                      <mat-option [value]="'2'">
                        Flexi
                      </mat-option>
                      <mat-option [value]="'3'">
                        General
                      </mat-option>
                      <mat-option [value]="'4'">
                        HAZ
                      </mat-option>
                      <mat-option [value]="'5'">
                        Medical Products
                      </mat-option>
                      <mat-option [value]="'6'">
                        NOR
                      </mat-option>
                      <mat-option [value]="'7'">
                        ODO
                      </mat-option>
                      <mat-option [value]="'8'">
                        OOG
                      </mat-option>
                      <mat-option [value]="'9'">
                        RFR
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td> 
                    
               <td class="padding-both-side-2">
               
                
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker11" name ="date{{i}}" [(ngModel)] = "obj.date" [ngModelOptions]="{standalone: true}">
                    <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
                    <mat-datepicker #picker11></mat-datepicker>
                </mat-form-field>
                 </td>

              <td class="padding-both-side-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-label>Status</mat-label>
                  <input matInput name ="status{{i}}" [(ngModel)] = "obj.status" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
                 </td>

             <td class="padding-both-side-2">
             
              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                <mat-label>Next Call Date</mat-label>
                <input matInput [matDatepicker]="picker22" name ="nextCallDate{{i}}" [(ngModel)] = "obj.nextCallDate" [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                <mat-datepicker #picker22></mat-datepicker>
            </mat-form-field>
              <!-- <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                <mat-label>Next Call Date</mat-label>
                <input matInput [matDatepicker]="picker22" formControlName = "nextCallDate"  name ="nextCallDate{{i}}">
                <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                <mat-datepicker #picker22></mat-datepicker>
              </mat-form-field> -->
                 </td>

              <td class="padding-both-side-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-label>Conditions for Support</mat-label>
                  <textarea matInput name ="conditionSupport{{i}}" [(ngModel)] = "obj.conditionSupport" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
              </td>
              <td class="padding-both-side-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-label>Reasons for Supporting</mat-label>
                  <textarea matInput name ="reasonSupport{{i}}" [(ngModel)] = "obj.reasonSupport" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
              </td>
              <td class="padding-both-side-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-label>Reasons for Not Supporting</mat-label>
                  <textarea matInput name ="reasonNotSupport{{i}}" [(ngModel)] = "obj.reasonNotSupport" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
              </td>
              <td class="padding-both-side-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-label>Remarks</mat-label>
                  <textarea matInput name ="remarks{{i}}" [(ngModel)] = "obj.remarks" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
              </td>
              
           </tr>
         </tbody>
         </table>
       </div>

         <!-- <div class="row">
           <div>          
             
             <button mat-mini-fab color="warn" (click)="removeRow(-1)">
               <mat-icon class="col-white">delete</mat-icon>
             </button>&nbsp;
             <button mat-mini-fab color="primary" (click)="addRow()">
               <mat-icon class="col-white">add</mat-icon>
             </button>
       </div>
        </div> <br><br> -->

                <!-- second detail Row -->

                <!-- <div style="overflow-x: auto;">
                  <table id="dt_basic"
                class="table table-striped font-weight-bold "
                   role="grid">
              <thead class="">
               <tr>
               <th class="width_1 table-heading text-center" style="margin-left: 25px;
               width: 11%; border-radius: 0.05rem;"><label
                 class="i-checks m-b-none"> <input type="checkbox"
                   ng-model="selectedAll"
                   ng-change="checkAllVendor()">
                   <i></i>
               </label></th>
               <th
                 class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                 width: 12%; border-radius: 0.05rem;">POL</th>
               <th
                 class="text-center table-heading padding-both-side-2 width_7" style="margin-left: 25px;
                 width: 12%; border-radius: 0.05rem;">POD</th>
                 <th
                 class="text-center table-heading padding-both-side-2 width_7"  style="margin-left: 25px;
                 width: 12%;border-radius: 0.07rem;">Container Type</th>
               <th
                 class="text-center table-heading padding-both-side-2 width_7"  style="margin-left: 25px;
                 width: 12%;border-radius: 0.07rem;">Boxes</th>
               <th
                 class="text-center table-heading padding-both-side-2 width_7"  style="margin-left: 25px;
                 width: 12%;border-radius: 0.07rem;">Expected On</th>
              
               
             </tr>
              </thead>
            <tbody  *ngFor ="let obj of dataarray1; let i=index"> 
                <tr>
                <td class=" text-center">
                 <label
                 class="i-checks m-b-none"> <input type="checkbox"
                 ng-model="row.tableId"> 
                </label></td>

                <td class="padding-both-side-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>POL</mat-label>
                    <mat-select name ="pol{{i}}" [(ngModel)] = "obj.pol" [ngModelOptions]="{standalone: true}">
                      <mat-option [value]="'1'">
                        Introduction / Presentation
                      </mat-option>
                      <mat-option [value]="'2'">
                        Service Requirement
                      </mat-option>
                      <mat-option [value]="'3'">
                        Offer Rates
                      </mat-option>
                      <mat-option [value]="'4'">
                        Negotiations
                      </mat-option>
                      <mat-option [value]="'5'">
                        Collection Follow up
                      </mat-option>
                      <mat-option [value]="'6'">
                        Courtesy call
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                 </td>
              
                <td class="padding-both-side-2">
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                    <mat-label>POD</mat-label>
                    <mat-select name ="pod{{i}}" [(ngModel)] = "obj.pod" [ngModelOptions]="{standalone: true}">
                      <mat-option [value]="'1'">
                        Empty
                      </mat-option>
                      <mat-option [value]="'2'">
                        Flexi
                      </mat-option>
                      <mat-option [value]="'3'">
                        General
                      </mat-option>
                      <mat-option [value]="'4'">
                        HAZ
                      </mat-option>
                      <mat-option [value]="'5'">
                        Medical Products
                      </mat-option>
                      <mat-option [value]="'6'">
                        NOR
                      </mat-option>
                      <mat-option [value]="'7'">
                        ODO
                      </mat-option>
                      <mat-option [value]="'8'">
                        OOG
                      </mat-option>
                      <mat-option [value]="'9'">
                        RFR
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td> 
                    
               <td class="padding-both-side-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-label>Container Type</mat-label>
                  <mat-select name ="containerType{{i}}" [(ngModel)] = "obj.containerType" [ngModelOptions]="{standalone: true}">
                    <mat-option [value]="'1'">
                      Empty
                    </mat-option>
                    <mat-option [value]="'2'">
                      Flexi
                    </mat-option>
                    <mat-option [value]="'3'">
                      General
                    </mat-option>
                    <mat-option [value]="'4'">
                      HAZ
                    </mat-option>
                    <mat-option [value]="'5'">
                      Medical Products
                    </mat-option>
                    <mat-option [value]="'6'">
                      NOR
                    </mat-option>
                    <mat-option [value]="'7'">
                      ODO
                    </mat-option>
                    <mat-option [value]="'8'">
                      OOG
                    </mat-option>
                    <mat-option [value]="'9'">
                      RFR
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                 </td>

              <td class="padding-both-side-2">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-label>Boxes</mat-label>
                  <input matInput name ="boxes{{i}}" [(ngModel)] = "obj.boxes" [ngModelOptions]="{standalone: true}">
               </mat-form-field>
              </td>

             <td class="padding-both-side-2">
              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                <mat-label>Expected On</mat-label>
                <input matInput [matDatepicker]="picker" name ="expectedOn{{i}}" [(ngModel)] = "obj.expectedOn" [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
             </td>
           </tr>
         </tbody>
         </table>
       </div> -->

         <div class="row">
           <div>          
             
             <button mat-mini-fab color="warn" (click)="removeRow1(-1)">
               <mat-icon class="col-white">delete</mat-icon>
             </button>&nbsp;
             <button mat-mini-fab color="primary" (click)="addRow1()">
               <mat-icon class="col-white">add</mat-icon>
             </button>
       </div>
        </div>

                <div class="row"> 
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #34d034;">Submit</button>
                    <button *ngIf="edit" (click) = "update()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #34d034;">Update</button>
                      <button color="primary" type="button" class="btn-space" (click)="reset()" mat-raised-button>Reset</button>
                    <button color="warn" type="button" (click)="onCancel()" mat-raised-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

